<?php
$_helper = Mage::helper('catalog/output');
$syshelper = Mage::helper("systemhelp");
$helper = Mage::helper("vsourz_catproduct");

$attrArr = array('barrel_condition', 'drums_condition', 'flask_condition', 'eurocube_condition');
$catIds = $syshelper->getCategorieIds();
$i = 0;
foreach($catIds as $cat):?>
    <?php $i++;?>
    <div class="slider-wrapper <?php if(($i % 2) == 0): echo 'paired-container-class'; endif;?>">
        <div class="slider-inner-wrapper">
            <?php $_category = Mage::getModel('catalog/category')->load($cat->getId()); ?>
            <?php if($_category->getName()): ?>
                <div class="title title-<?php echo $cat->getId()?>">
                    <?php if($i == 1): ?>
                        <span><a href="<?php echo $cat->getUrl($cat);?>"><?php echo $_category->getName(); ?></a></span>
                    <?php else: ?>
                        <span class="h2-title"><a href="<?php echo $cat->getUrl($cat);?>"><?php echo $_category->getName(); ?></a></span>
                    <?php endif; ?>
                </div>
            <?php endif;?>
            <?php if($_category->getHomeCatDesc()): ?>
                <div  id="cat-<?php echo $cat->getId()?>" class="category-description">
                    <div class="more"><?php echo $_category->getHomeCatDesc(); ?></div>
                </div>
            <?php endif;?>
            <div class="product-sliders-block">
                <div class="slider-top-filter count-product-slider">
                    <?php echo $this->getLayout()->createBlock('vsourz_catproduct/productslider')->setCategoryId($_category->getId())->setTemplate('vsourz/products/custom-productslider.phtml')->setTitle()->setCustomSlider(true)->toHtml(); ?>
                </div>
                <div class="dual-sliders-block">
                    <div class="slider-new-products count-product-slider count-product-custom">
                        <?php echo $this->getLayout()->createBlock('vsourz_catproduct/productslider')->setSliderType('new')->setCategoryId($_category->getId())->setTemplate('vsourz/products/productslider.phtml')->setTitle($helper->getLeftSliderSettings($_category->getUrlKey()))->toHtml(); ?>
                    </div>
                    <div class="slider-sales-products count-product-slider count-product-slider count-product-custom">
                        <?php echo $this->getLayout()->createBlock('vsourz_catproduct/productslider')->setSliderType('sales')->setCategoryId($_category->getId())->setTemplate('vsourz/products/productslider.phtml')->setTitle($helper->getRightSliderSettings($_category->getUrlKey()))->toHtml(); ?>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="toggle-category-slider category-button-show" id="toggle-category-slider" style="display: none">
                <span><?php echo $this->__('Show category')?></span>
            </div>
        </div>
    </div>
<?php endforeach; ?>

<script>
    var moretext = "<?php echo $_helper->__('Show more'); ?>";
    var lesstext = "<?php echo $_helper->__('Show less'); ?>";

    jQuery(document).ready(function () {
        if (jQuery(window).width() < 991) {
            jQuery('.product-sliders-block').each(function () {
                var slider = jQuery(this);
                slider.hide();
                var button =jQuery(this).parent().find('.toggle-category-slider');
                button.css('display', 'block');
                button.on('click', function () {
                    slider.toggle();
                    if (slider.css('display') === 'block') {
                        button.removeClass('category-button-show');
                        button.addClass('category-button-hide');
                        jQuery(this).text('<?php echo $this->__('Hide category')?>');
                    } else {
                        scrollTo(jQuery(this));
                        button.addClass('category-button-show');
                        button.removeClass('category-button-hide');
                        jQuery(this).text('<?php echo $this->__('Show category')?>');
                    }
                })
            });

            jQuery('.category-product-slider').each(function () {
                var el = jQuery(this);
                if(el.find('.owl-page > span').length > 4) {
                    while (el.find('.owl-page > span').length > 5) {
                        el.find('.owl-page:last-child').remove();
                    }
                    var lastEl = el.find('.owl-page').last();
                    lastEl.hide();
                    var thisPrev = jQuery(this).find('.owl-prev');
                    var thisNext = jQuery(this).find('.owl-next');

                    thisPrev.on("click tap touch", function () {
                        if (lastEl.hasClass('active')) {
                            el.find('.owl-next').addClass('last-element-active');
                        } else {
                            el.find('.owl-next').removeClass('last-element-active');
                        }
                    });
                    thisNext.on("click tap touch", function () {
                        if (lastEl.hasClass('active')) {
                            el.find('.owl-next').addClass('last-element-active');
                        } else {
                            el.find('.owl-next').removeClass('last-element-active');
                        }
                    });
                }
            });
        }
    })

</script>