
.search-autocomplete {
    z-index: 99;
}

.search-autocomplete a {
    text-decoration: none;
}

.form-search .loading {
    background: url("../../../images/cmsmart/ajaxsearch/loading.gif") no-repeat;
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top:18px;
    right: 5px;
    display: none;
}

.form-search .clear-bt {
    background: url("../../../images/cmsmart/ajaxsearch/clear.png") no-repeat;
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top:18px;
    right: 150px;
    cursor: pointer;
    display: none;
}
.form-search .clear-bt,
.form-search .loading {left: 4px;}
:root .form-search .clear-bt {
    background: none\0;
    left: 435px;
    top: 31px;
    z-index: 1010;

}

.form-search {
    position: relative;
    
}
.search-autocomplete li.title, 
.search-autocomplete .no-results, 
.search-autocomplete li.preview {
    cursor: default !important;
}
.search-autocomplete .no-results {background: #fff; text-align: left; padding-left: 10px;}

.search-autocomplete .category a {
    text-decoration: none;
    font-weight: bold;

}

.search-autocomplete .page_rs a {
    text-decoration: none;    
}

.search-autocomplete .category .description, .page_rs .description {
    color: #000;
    font-weight: normal !important;
}

.search-autocomplete span.title {
    cursor: pointer;    
}

.search-autocomplete .preview .preview-img {
    float: left;
    margin-right: 10px;
    
}

.search-autocomplete .preview .description {
    clear: both;
}

.search-autocomplete .suggested a {
    float: left;
}

.search-autocomplete .category a, .search-autocomplete .page_rs a {
    display: block;
}

.search-autocomplete .title {
    text-transform: capitalize;
    font-weight: bold;
}
.search-autocomplete .ajaxsearch > .title {
    padding: 3px 10px;
    background-color: #092370;
    font-weight: 300;
    color: #ffffff;
}

.search-autocomplete ul.suggested, .search-autocomplete ul.ajaxsearch, .search-autocomplete ul.page_rs, .search-autocomplete ul.category {
    border: none !important;    
    
}

.search-autocomplete .regular-price {
    text-decoration: line-through;
}

.search-autocomplete .pice, .search-autocomplete .special-pice {
    font-weight: bold;
}

.search-autocomplete .view_all {
    text-align: right !important;       
}
.search-autocomplete {
    position: absolute;
    left: 0px;
    top: 54px;
    width: 100% !important;
    max-width: 442px;
}
.search-autocomplete .meta_data {
    text-align: left;
    width: auto !important;
    overflow: hidden;
}

.search-autocomplete .product_att {
    clear: both;
}

.search-autocomplete .product_att .att_label {
    font-weight: bold;   
}

.search-autocomplete .product_att p {
    margin: 0;
}
.search-autocomplete ul .preview {
   border:1px solid #ddd;
   border-top: 0;
   background-color:#fff;
   padding: 8px;
}

.search-autocomplete .ajaxsearch .rating-box {
    float: left;
    margin-bottom: 5px;
}

.search-autocomplete .ajaxsearch .reviews_count {
    height: 12px;
    line-height: 12px;
    overflow: hidden;
    margin-bottom: 7px;
    clear: left;
}

.search-autocomplete .ajaxsearch .product-price
{
    clear:both;
}
.form-search button.button {
    float: none;
}
.product_cat a {
    display: inline-block;
    margin: 5px 0;
    color: black;
}
@media screen and (max-width: 1199px) {
    .search-autocomplete {
        max-width: 350px;
    }
    :root .form-search .clear-bt {
        left: 340px;
    }
}
@media only screen and (max-width: 991px) {
    .form-search .clear-bt,
    .form-search .loading {right: 55px;}
    .search-autocomplete {
        position: absolute;
        left: 0px;
        top: 54px;
        width: 100% !important;
        max-width: 268px;
        z-index: 1010;
    }
    :root .form-search .clear-bt {
        background: none \0;
        left: 260px;
        top: 31px;
        z-index: 1010;
    }
}
@media only screen and (max-width: 767px) {  
    .form-search .clear-bt,
    .form-search .loading {right: 55px;}
    .search-autocomplete {
        position: absolute;
        left: 0px;
        top: 54px;
        width: 100% !important;
        max-width: 280px;
        z-index: 1010;
    }
    :root .form-search .clear-bt {
        background: none \0;
        left: 272px;
        top: 25px;
        z-index: 1011;
    }
}
