<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
?>
<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
  <?php
    $_collectionSize = $_products->getSize();

        if($_collectionSize > 6)  {
            $_sliderOnOf = "homeSider2";
            $_itemwidth = "free";
            $_homeIndent = "homeIndent";
            $_slidControl2 = '<div class="home-carousel-control">
                <a class="carousel-prev2 fa fa-chevron-left" href="#"></a>
                    <a class="carousel-next2 fa fa-chevron-right" href="#"></a>
            </div>';
        } else {
            $_sliderOnOf = "grid-clol-6";
            $_itemwidth = "col-item6";
            }
?>
<div class="widget widget-catalogsale-products <?php echo $_homeIndent;?>">
        <div class="page-title category-title center">
            <h1><a><?php echo $this->__('Special products') ?></h1>
        </div>
            <?php $suffix = $this->getNameInLayout(); ?>
            <ul class="products-grid <?php echo $_sliderOnOf;?>" id="widget-catalogsale-products-<?php echo $suffix; ?>">
            <?php foreach ($_products->getItems() as $_product): ?>
                <li class="item <?php echo $_itemwidth; ?>">
                    <div class="wrapper-hover"> 
                        <a class="product-image noSwipe" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(250, 383) ?>" alt="<?php echo $this->stripTags($_product->getName(), null, true) ?>" /></a>
                        <div class="product-shop">
                               
                            <?php echo $this->getPriceHtml($_product, true, '-widget-catalogsale-'.$suffix) ?>
                            <h3 class="product-name">
                                  <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>">
                                      <?php $small_getName = strip_tags($this->htmlEscape($_product->getName()));
                                       if (strlen($small_getName) < 20) echo($small_getName);
                                       else { echo mb_substr($small_getName, 0, 20,'UTF-8').'...';} ?>
                                  </a>
                              </h3>
                               
                               <div class="desc_grid"><?php $small_getDescription = strip_tags($_product->getShortDescription());
                                   if (strlen($small_getDescription) < 80) echo($small_getDescription);
                                   else { echo mb_substr($small_getDescription, 0, 80,'UTF-8').'...';} ?>
                                </div> 
                                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?> 
                                <div class="actions noSwipe">
                                    <?php if($_product->isSaleable()): ?>
                                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button noSwipe btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                    <?php else: ?>
                                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                    <?php endif; ?>
                                    <ul class="add-to-links">
                                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                            <li><a title="<?php echo $this->__('Add to Wishlist') ?>" href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" rel="tooltip" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                                        <?php endif; ?>
                                        <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                            <li><span class="separator">|</span> <a  title="<?php echo $this->__('Add to Compare') ?> " href="<?php echo $_compareUrl ?>" rel="tooltip" class="link-compare "><?php echo $this->__('Add to Compare') ?></a></li>
                                        <?php endif; ?>
                                    </ul>
                                </div>
                        </div>
                          <?php $_product = Mage::getModel('catalog/product')->load($_product->getId()); ?>
                            <div class="label-product">             
                                <?php if($_product->getData('new')){echo '<span class="new">'.$this->__('New').'</span>';  }?>
                                <?php if($_product->getData('sale')){echo '<span class="sale">'.$this->__('Sale').'</span>';  }?>
                            </div>
                        <div class="clear"></div>
                    </div>
                </li>
            <?php endforeach; ?>
            </ul>
            <?php echo "$_slidControl2"; ?>
            <script type="text/javascript">decorateList('widget-catalogsale-products-<?php echo $suffix; ?>', 'none-recursive')</script>
</div>
<?php endif; ?>
<?php if(Mage::getSingleton('cms/page')->getIdentifier() == 'home'  && Mage::app()->getFrontController()->getRequest()->getRouteName() == 'cms' ) :  ?>
     <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('block-row-1')->toHtml() ?>
<?php endif;  ?>
