<!--@subject Contact Form@-->
<!--@vars
{"var data.name":"Sender Name",
"var data.email":"Sender Email",
"var data.telephone":"Sender Telephone",
"var data.comment":"Comment"}
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            Name: {{var data.firstname}}
            Email: {{var data.email}}
            Telephone: {{var data.phone}}
            Subject: {{var data.subject}}
            Comment: {{var data.message}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
