<a id="catalog_compare_id" class="catalog-compare" href="#">
    <?php  $counterCompare = 0; ?>
    <?php  $_helper = Mage::helper('catalog/product_compare'); ?>
    <?php foreach($_helper->getItemCollection() as $item):?>
        <?php $counterCompare++?>
    <?php endforeach;?>

    <span class="summary-number">
                            <?php echo $counterCompare;?>
                        </span>

    <span class="compare-wishlist-span"><?php echo $this->__('Compare');?></span>
</a>

<div id="compare-block-hidden" class="math_top_block_catalog_hover" style="display: none">
    <?php if($counterCompare > 0):?>
        <div class="compare-block-commodity-top">
                            <span>
                                <?php echo $this->__('In Your compare list:');?><br>
                                 <a href="#" onclick="openNewWindow('<?php echo $this->getUrl('catalog/product_compare/index') ?>')">
                                    <?php if($counterCompare == 1){?>
                                        <?php echo '<span class="compare-items">'.$counterCompare.'</span>'; echo $this->__(' item');?>
                                    <?php } else {?>
                                        <?php echo '<span class="compare-items">'.$counterCompare.'</span>'; echo $this->__(' items');?>
                                    <?php } ?>
                                 </a>
                            </span>
        </div>
        <div class="compare-block-commodity-bottom">
            <a href="#" onclick="openNewWindow('<?php echo $this->getUrl('catalog/product_compare/index') ?>')">
                <?php echo $this->__('Compare');?>
            </a>
        </div>
    <?php else:?>
        <div class="compare-block-empty-top">
            <span><?php echo $this->__('Your compare list is empty')?></span>
        </div>
        <div class="compare-block-empty-bottom">
            <a href="<?php echo $this->getUrl('catalog');?>"><?php echo $this->__('Go to catalog');?></a>
        </div>
    <?php endif;?>
</div>
<script>
    jQuery('#catalog_compare_id').on('click', function () {
        return false;
    })
</script>