<?php
    $about = array(
            'about' => 'About us',
            'payment' => 'Payment',
            'logistics' => 'Logistics',
            'partners' => 'Partners',
            'cooperation' => 'Cooperation',
            'contact' => 'Contact',
    );
    $selected = 'selected';
    $baseUrl = $this->getUrl();
    $currentUrl = $this->helper('core/url')->getCurrentUrl();
    $url = Mage::getSingleton('core/url')->parseUrl($currentUrl)->getPath();
    $urlExploded = explode('/', $url);
    $action = $this->getRequest()->getActionName();
?>
<div class="header_main_menu_more" id="header_main_menu_more">
    <div class="show-menu">
        <span><?php echo $this->__('Show the menu')?></span>
    </div>
    <div class="hide-menu">
    </div>
</div>
<ul class="top-info-menu" id="top-info-menu">
    <?php foreach ($about as $key => $value):?>
        <?php if(in_array($key, $urlExploded) && $action == 'index'):?>
            <li class="selected-item">
                <a href="<?php echo $baseUrl.$key;?>/"><?php echo $this->__($value)?></a>
            </li>
        <?php else:?>
            <li>
                <a href="<?php echo $baseUrl.$key?>/"><?php echo $this->__($value)?></a>
            </li>
    <?php endif;?>
    <?php endforeach;?>
</ul>
<div class="header_show_more">
    <span><?php echo $this->__('More')?></span>
    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
</div>
