/*************************************************
*CATEGORY PRODUCT SLIDER CSS
*************************************************/
.category-product-slider *{box-sizing:border-box;}
.category-product-slider a{text-decoration:none !important;}
.category-product-slider
{
	padding:10px 0;
	overflow:hidden;
}
.category-product-slider .title{
	margin:0;
	border-bottom: 3px solid #092370;
}
.category-product-slider h3 {
	text-align: left;
	font-size: 24px;
	text-transform: uppercase;
	color: #092370;
	cursor: pointer;
	margin-bottom: 15px;
}
.category-product-slider h3:hover {
	text-decoration: underline;
}
.category-product-slider ul,
.category-product-slider .actions-inner ul
{
	padding:0;
	margin:0;
	list-style-type:none;
}
.category-product-slider ul li
{
	margin:0;
	list-style-type:none;
}
.category-product-slider .product-slider
{
	position:relative;
	margin:0;
}
.product-slider-outer{
	margin:0;
	box-sizing:border-box;
	margin-top: 20px;
	margin-left: -10px;
}
.category-product-slider .ratings .rating-box{margin:0 auto;}
.category-product-slider .actions-inner li{margin:5px 0;}
.category-product-slider .owl-item .item
{
	padding: 0px;
	box-sizing:border-box;
	margin:0;
	max-width: 280px;
}
.category-product-slider p,
.std .category-product-slider p{margin:0;}
.category-product-slider .item-inner
{
	position:relative;	
	padding: 0;
	width: 280px;
}
.category-product-slider .owl-item {
	padding: 0 10px;
}
.category-product-slider .item-img {
	position:relative;
}
.item-img .main-image {
	border: 1px solid red;
	width: 280px;
	height: 280px;
}
.category-product-slider .newproduct {
	position:relative;
	padding:0px;
	left:0;
	top:0;
	width: 60px;
	text-align:center;
	font-size:14px;
	background-color: blue;
	z-index:99;
	color:#f7f7f7;
	height: 40px;
	line-height: 40px;
	text-indent: 0;
	text-transform: uppercase;
}
.category-product-slider .saleproduct {
	position:relative;
	padding:0px;
	right: 0;
	top: 0;
	width: 100px;
	text-align:center;
	font-size:14px;
	background-color: orange;
	z-index:99;
	color:#f7f7f7;
	height: 40px;
	line-height: 40px;
	text-indent: 0;
	text-transform: uppercase;
}
.category-product-slider .val-new {
	position: relative;
	padding: 0px;
	right: 0;
	margin-right: auto;
	top: 0;
	width: 100px;
	text-align: center;
	font-size: 14px;
	z-index: 99;
	color: #f7f7f7;
	height: 40px;
	line-height: 40px;
	text-indent: 0;
	text-transform: uppercase;
}
.category-product-slider .val-used {
	position:absolute;
	padding:5px;
	left:0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	top:0;
	width: 60px;
	text-align:center;
	font-size:14px;
	background-color: orangered;
	z-index:99;
	color:#fff;
	height: auto;
	text-indent: 0;
}
.category-product-slider .new-box .saleproduct{
	right:0px;
	left:auto;
	background:#ff8000;
}
.category-product-slider .product-image
{
	border:none;
	display:block;
}
.category-product-slider .product-image:after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 52px;
	height: 50px;
	bottom: 36px;
	right: -37px;
	background-color: #f7f7f7;
	background-image: url(/../../../images/consol/icon-tp.png);
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1000;
	border-radius: 50px;
}

.category-product-slider .product-image img{
	width:100%;
	height: auto;
	max-height: 280px;
}
.category-product-slider .box-content
{
	text-align:left;
	background:#f7f7f7;
	margin:0;
}
.category-product-slider h2.product-name {
	font-size: 18px;
	padding: 0;
	margin: 0;
	margin-bottom: 0;
	color: #092370;
	height: 56px;
}
.product-info-block {
	height: 46px;
	font-size: 26px;
	color: #092370;
}
.box-content .actions {
	background-color: #fcc000;
	height: 60px;
	line-height: 60px;
	text-align: center;
	width: 280px;
	color: #f7f7f7;
	font-size: 18px;
}
.box-content .actions:hover {
	background-color: #092370;

}
.category-product-slider h2.product-name a {
	color: #092370;
}
.category-product-slider .no-rating
{
	margin:5px 0;
}
.category-product-slider .price-box
{
	margin:5px 0;
}
.product-info-block div {
	height: 30px;
	line-height: 30px;
}


.category-product-slider .price-box p
{
	margin:0 5px;
	padding:0;
	display:inline-block;
}
.category-product-slider .price-box .price  {
	font-size: 26px;
	color: #092370;
}
.category-product-slider .old-price .price {
	font-size: 20px;
	color: #999999;
}
.category-product-slider .actions li,
{
	margin:5px 0;
}
.category-product-slider button
{
	padding: 0 15px;
	line-height: 30px;
	text-align: center;
	width: 280px;
	margin: 0;
	height: 60px;
	background-color: #4caf50;
}
.category-product-slider .owl-theme .owl-controls .owl-buttons div
{
	background:#000;
	height:30px;
	width:30px;
	line-height:30px;
	text-align:center;
	color:#fff;
	position:absolute;
	top:50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.category-product-slider .owl-theme .owl-controls .owl-buttons div .fa
{
	line-height:30px;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	text-indent:0;
	font-family:Arial, Helvetica, sans-serif;
	display:block;
}
.category-product-slider .owl-theme .owl-controls .owl-buttons .owl-prev{left:15px;}
.category-product-slider .owl-theme .owl-controls .owl-buttons .owl-next{right:15px;}
.category-product-slider .owl-theme .owl-controls .owl-buttons div:hover{background:#ddd;color:#000;}
.category-product-slider .owl-theme .owl-controls .owl-buttons div:hover .fa{color:#000;}
.category-product-slider .owl-theme .owl-controls{text-align:center;margin:15px 0 0 0;}
.category-product-slider .owl-theme .owl-controls .owl-page{display:inline-block;margin:0 3px;}
.category-product-slider .owl-theme .owl-controls .owl-page span
{
	margin:0;
	height:12px;
	width:12px;
	display:block;
	cursor:pointer;
	background:#333;	
	-webkit-box-shadow:none;
	-ms-box-shadow:none;
	box-shadow:none;	
	-webkit-border-radius: 100%;
	-ms-border-radius: 100%;
	border-radius: 100%;
	transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;	
}
.category-product-slider .owl-theme .owl-controls .owl-page span:hover,
.category-product-slider .owl-theme .owl-controls .owl-page.active span{background:#ccc;}