<?php
$partnersCollection = $this->getPartnersCollection();
$helper = Mage::helper('consol_partners');
$baseUrl = Mage::getBaseUrl('media').'partners'.DS;
?>
<?php if($partnersCollection->getSize()):?>
<div class="partners">
    <?php foreach ($partnersCollection as $partner): ?>
        <div class="partner-item">
        <?php if($partner->getLink()):?>
            <a href="<?php echo $partner->getLink();?>"><?php echo $partner->getName(); ?></a>
        <?php else:?>
            <?php echo $partner->getName(); ?>
        <?php endif;?>
        <?php echo $partner->getDescription(); ?>
        <?php if($partner->getLogo()): ?>
            <img src="<?php echo $baseUrl.$partner->getLogo(); ?>" style="width:200px; height:200px;">
        <?php endif;?>
        </div>
    <?php endforeach; ?>
</div>
<?php endif;?>
