<?php
$helper = Mage::helper("vsourz_catproduct");
$syshelper = Mage::helper("systemhelp");
$_categoryBlocksHelper = Mage::helper('consol_categoryblocks');
$pg_bg_color = $helper->getPaginationBgColor();
$pg_bg_hover_color = $helper->getPaginationBgHoverColor();
$nav_bg_color = $helper->getNavigationBgColor();
$nav_bg_hover_color = $helper->getNavigationBgHoverColor();
$desktop = $helper->getDesktop();
$ipadland = $helper->getIpadland();
$ipadport = $helper->getIpadport();
$smallland = $helper->getSmallland();
$smallport = $helper->getSmallport();
$sliders = $_categoryBlocksHelper->getSliderByCategoryId($this->getCategoryId());
$sliderClass = 'block-slider-big';
if (count($sliders) > 1){
    $desktop = 2;
    $ipadland = 2;
    $ipadport = 2;
    $sliderClass = 'block-slider-small';
}

$width = $helper->getWidth();
$height = $helper->getHeight();
$autoplay = ($helper->getAutoplay()==0)?"false":$helper->getAutoplay();
$navigation = $helper->getNavigation();
$pagination = $helper->getPagination();
$storeId = Mage::app()->getStore()->getId();
$baseUrl = Mage::getBaseUrl('media').'slideritems'.DS;
$i=0;
$sliderPosition = '';
$curStore = Mage::app()->getStore()->getId();
$currencySymbol = Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();
?>

<?php $sliders = $_categoryBlocksHelper->getSliderByCategoryId($this->getCategoryId(), $curStore);  ?>
<?php if(count($sliders) > 0): ?>
    <?php foreach ($sliders as $key => $slider):?>
        <?php $sliderItems = $_categoryBlocksHelper->getItemsBySliderId($slider->getEntityId(), $curStore);  ?>

        <?php $sliderPosition = 'left-slider-block';?>
        <?php if($key == 1):?>
            <?php $sliderPosition = 'right-slider-block';?>
        <?php endif;?>
        <?php if(count($sliders) == '1'):?>
            <?php $sliderPosition = 'big-width-slider'; ?>
        <?php endif;?>
        <div class="category-product-slider <?php echo $sliderPosition; ?> <?php if (count($sliders) > 1) : echo 'custom-slider-2'; endif;?>">
            <?php if($slider->getName()): ?>
                <div class="title">
                    <p><a href="<?php if(strlen($slider->getBlockFilterLink()) > 0) : echo $slider->getBlockFilterLink(); else: echo '#'; endif;?>" rel="nofollow"><?php echo $slider->getName(); ?></a></p>
                </div>
            <?php endif; ?>

            <div class="product-slider-outer">
                <ul id="owl-demo" class="owl-carousel product-slider <?php echo $sliderClass; ?>">
                    <?php foreach($sliderItems as $item):?>
                        <?php $i++; ?>
                        <li class="item">
                            <div class="item-outer">
                                <?php if($item->getLable()):?>
                                    <div class="new-box val-new block-attr-<?php echo $item->getLable(); ?>">
                                        <?php if($item->getLable()== 1):?>
                                            <?php echo $this->__('New ');?>
                                        <?php elseif ($item->getLable()== 2):?>
                                            <?php echo $this->__('Used');?>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="item-img-info">
                                            <a href="<?php echo $item->getLink() ?>" title="<?php echo $this->escapeHtml($item->getItemTitle()) ?>" class="product-image">
                                                <div class="main-image">
                                                    <img class="main-img lazyOwl" id="product-collection-image-<?php echo $item->getEntityId(); ?>"
                                                         src="<?php if($item->getLogo()): echo $baseUrl.$item->getLogo(); else: echo (string)Mage::helper('catalog/image')->init(Mage::getModel('catalog/product'), 'small_image')->resize(332, 280);endif; ?>"
                                                         alt="<?php echo $item->getLogo(); ?>"/>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="box-content">
                                        <div class="product-info-inner">
                                            <p class="product-name">
                                                <a href="<?php echo $item->getLink() ?>" title="<?php echo $this->escapeHtml($item->getName());?>"><?php echo $this->escapeHtml($item->getName()) ?></a></p>
                                            <div class="product-info-block">
                                                <?php echo $item->getPrice() ?> <span class="item-currency-symbol"><?php echo $currencySymbol; ?></span>
                                            </div>
                                            <div class="actions">
                                                <div class="actions-inner" title="<?php echo $this->escapeHtml($item->getItemTitle()) ?>"><a href="#" rel="nofollow"><?php echo $this->__('Choose');?></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    <?php  endforeach; ?>
                </ul>
            </div>
            <?php if($i > 0):?>
                <script type="text/javascript">
                    var pagination;
                        if (jQuery(window).width() < 768) {
                            pagination = true;
                        }
                        else {
                            pagination = <?php echo $pagination;?>;
                        };

                    jQuery(document).ready(function() {
                        jQuery(".<?php echo $sliderClass ?>").owlCarousel({
                            items : 4,
                            autoPlay : <?php echo $autoplay;?>,
                            itemsCustom : [
                                [0, <?php echo $smallport;?>],
                                [480, <?php echo $smallland;?>],
                                [600, <?php echo $smallland;?>],
                                [768, <?php echo $ipadport;?>],
                                [991, <?php echo $ipadport;?>],
                                [1024, <?php echo $ipadland;?>],
                                [1200, <?php echo $ipadland;?>],
                                [1400, <?php echo $desktop;?>],
                                [1600, <?php echo $desktop;?>]
                            ],
                            itemsMobile : false,
                            lazyLoad : true,
                            navigation : <?php echo $navigation;?>,
                            pagination: pagination,
                            /*
                            pagination: // echo $pagination;?>,
                            */

                            navigationText: ["<i class='fa'> &lt; </i>","<i class='fa'> &gt; </i>"]
                        });
                    });


                </script>
            <?php endif;?>
            <?php $i=0;?>
        </div>
    <?php endforeach;?>
<?php endif;?>