
<?php
$helper = Mage::helper("vsourz_catproduct");
$syshelper = Mage::helper("systemhelp");

$pg_bg_color = $helper->getPaginationBgColor();
$pg_bg_hover_color = $helper->getPaginationBgHoverColor();
$nav_bg_color = $helper->getNavigationBgColor();
$nav_bg_hover_color = $helper->getNavigationBgHoverColor();
$desktop = $helper->getDesktop();
$ipadland = $helper->getIpadland();
$ipadport = $helper->getIpadport();
$smallland = $helper->getSmallland();
$smallport = $helper->getSmallport();
$sliderClass = 'product-slider-no-types';
if($this->getSliderType() != ''){
    $desktop = 2;
    $sliderClass = 'product-slider-types';
    $ipadland = 2;
}
$width = $helper->getWidth();
$height = $helper->getHeight();
$autoplay = ($helper->getAutoplay()==0)?"false":$helper->getAutoplay();
$navigation = $helper->getNavigation();
$pagination = $helper->getPagination();
$rating = $helper->getRating();
$cartbutton = $helper->getCartbutton();
$wishlist = $helper->getWishlist();
$compare = $helper->getCompare();
$newproduct = trim($helper->getNewProductText());
$saleproduct = trim($helper->getSaleProductText());
$attrArr = array('barrel_condition', 'drums_condition', 'flask_condition', 'eurocube_condition', 'canister_condition', 'tin_packing_condition');
$storeId = Mage::app()->getStore()->getId();
$catacityAttrArr = array('barrel_capacity', 'canister_capacity', 'drums_capacity', 'flask_capacity', 'eurocube_capacity', 'tin_capacity');
$productNominationArr = array('product_nomination_barrels', 'product_nomination_cans', 'product_nomination_drums', 'product_nomination_eurocubes', 'product_nomination_flask', 'product_nomination_tin_pack');

$i=0;
?>

<?php $_products = $this->getProducts(); ?>
<?php if(count($_products)):?>
<div class="category-product-slider">
    <?php $_items = $this->getProductCount(); ?>
    <?php if($this->getTitle()): ?>
        <div class="title">
            <p><a href="#" rel="nofollow"><?php echo $this->getTitle(); ?></a></p>
        </div>
    <?php endif; ?>
    <div class="product-slider-outer">
        <ul id="owl-demo" class="owl-carousel product-slider <?php echo $sliderClass; ?>">
            <?php foreach($_products as $_product):?>
                <?php
                // checking for new products
                $newFrmDate = $_product->getNewsFromDate();
                $newToDate = $_product->getNewsToDate();
                // Checking for sale products
                $specialFrmDate = $_product->getSpecialFromDate();
                $specialToDate = $_product->getSpecialToDate();
                $specialPrice = $_product->getSpecialPrice();

                $sliderType = $this->getSliderType();
                $newProduct = false;
                $saleProduct = false;

                if(!empty($newFrmDate) && strtotime($newFrmDate) <= strtotime('now') && ( $newToDate == '' || (!empty($newToDate) && strtotime($newToDate) >= strtotime('now')))) {
                    $newProduct = true;
                }

                if(!empty($specialFrmDate) && strtotime($specialFrmDate) <= strtotime('now') && ( $specialToDate == '' || (!empty($specialToDate) && strtotime($specialToDate) >= strtotime('now'))) && !empty($specialPrice)) {
                    $saleProduct = true;
                }



                if($sliderType == 'new'){
                    if(!$newProduct){
                        continue;
                    }
                } elseif($sliderType == 'sales'){
                    if(!$saleProduct){
                        continue;
                    }
                }

                ?>
                <?php $attributeModel = '';?>
                <?php foreach ($attrArr as $attr):?>
                    <?php $attribute_option_id = Mage::getResourceModel('catalog/product')->getAttributeRawValue($_product->getId(), $attr, $storeId); ?>
                    <?php if($attribute_option_id):?>
                        <?php
                            $attributeLabel = Mage::getSingleton('eav/config')->getAttribute(Mage_Catalog_Model_Product::ENTITY, $attr);
                            $_product->setStoreId($storeId)->setData($attr, $attribute_option_id);
                            $attrVal = $_product->getAttributeText($attr);
                        ?>
                    <?php endif; ?>
                <?php endforeach; ?>

                <?php foreach ($catacityAttrArr as $attr2):?>
                    <?php $attribute_option_id2 = Mage::getResourceModel('catalog/product')->getAttributeRawValue($_product->getId(), $attr2, $storeId); ?>
                    <?php //var_dump($_product->getData());


                    if($attribute_option_id2):?>
                        <?php
                        $attributeLabel2 = Mage::getSingleton('eav/config')->getAttribute(Mage_Catalog_Model_Product::ENTITY, $attr2);
                        $_product->setStoreId($storeId)->setData($attr2, $attribute_option_id2);
                        $attrVal2 = $_product->getAttributeText($attr2);

                        ?>
                    <?php endif; ?>
                <?php endforeach; ?>

                <?php foreach ($productNominationArr as $itemNomination):
                  $attribute_option_id3 = Mage::getResourceModel('catalog/product')->getAttributeRawValue($_product->getId(), $itemNomination, $storeId);
                     if($attribute_option_id3 AND !$sliderType):
                         $attributeLabel3 = Mage::getSingleton('eav/config')->getAttribute(Mage_Catalog_Model_Product::ENTITY, $itemNomination);
                         $_product->setStoreId($storeId)->setData($itemNomination, $attribute_option_id3);
                         $attrVal3 = $_product->getAttributeText($itemNomination);
                     endif;
                endforeach;?>
                <?php if(!$sliderType):?>
                    <?php if(!$attrVal3 or $attrVal3 = ''):?>
                        <?php continue;?>
                    <?php endif;?>
                <?php endif;?>
                <?php $i++; ?>
                <li class="item">
                    <div class="item-outer">
                        <?php

                        if($newProduct) { ?>

                            <?php if($newproduct!=""): ?>
                                <div class="new-box newproduct"><?php echo $this->__($newproduct); ?></div>
                            <?php endif; ?>

                        <?php } ?>


                        <?php if($saleProduct) { ?>

                            <?php if($saleproduct!=""): ?>
                                <div class="new-box saleproduct"><?php echo $this->__($saleproduct); ?></div>
                            <?php endif; ?>

                        <?php } ?>
                        <?php if($this->getSliderType() == ''):?>
                            <?php if($attrVal == 'Новые'): ?>
                                <div class="new-box val-new"><?php echo $attrVal; ?></div>
                            <?php elseif($attrVal == 'Б/у'):?>
                                <div class="new-box val-used"><?php echo $attrVal; ?></div>
                            <?php endif; ?>
                        <?php endif; ?>
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info">

                                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>" class="product-image">
                                        <div class="main-image">
                                            <img class="main-img lazyOwl" id="product-collection-image-<?php echo $_product->getId(); ?>"
                                                 src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize($width,$height); ?>"
                                                 alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="box-content">
                                <div class="product-info-inner">
                                    <p class="product-name">
                                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>"><?php echo $this->escapeHtml($_product->getName()) ?></a></p>

                                    <?php
                                    // Rating
                                    if($rating=="true")
                                        echo $this->getReviewsSummaryHtml($_product, 'short',true);
                                    ?>
                                    <?php echo $this->getPriceHtml($_product, true, '-new') ?>
                                    <div class="product-info-block">
                                        <div class="product-code">
                                            <span class="head"><?php echo $this->__('Product code: ')?></span><span class="value"><?php echo $_product->getSku()?></span>
                                        </div>
                                        <div class="product-capacity">
                                            <span class="head"><?php if($attributeLabel2!=''): echo $this->__('Объем: '); endif;?></span><span class="value"><?php echo $attrVal2; ?><span>&nbsp;<?php if($attributeLabel2!=''): echo $this->__('л.'); endif;?></span></span>
                                        </div>
                                        <div class="product-condition">
                                            <span class="head"><?php if($attributeLabel!=''): echo $this->__('Состояние: '); endif;?></span><span class="value"><?php echo $attrVal; ?></span>
                                        </div>

                                    </div>
                                    <div class="actions">
                                        <div class="actions-inner">
                                            <ul>
                                                <?php if($cartbutton=="true") { ?>
                                                    <?php if($_product->isSaleable()): ?>
                                                        <li>
                                                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                                    <?php else: ?>
                                                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                                    <?php endif; ?>
                                                    </li>
                                                <?php }?>
                                                <?php if($wishlist=="true"){?>
                                                    <?php if ($this->helper('wishlist')->isAllow()) : ?>

                                                        <li class="actions-inner-wishlist">
                                                            <?php if($syshelper->checkIfProductInWishlist($_product->getEntityId())):?>
                                                                <a href="<?php echo $this->getAddToWishlistUrl($_product) ?>" rel="nofollow" class="link-wishlist-active" title="<?php echo $this->__('Added to Wishlist') ?>">
                                                                    <?php echo $this->__('Added to Wishlist') ?>
                                                                </a>
                                                                <div class="added-to-wishlist"></div>
                                                            <?php else:?>
                                                                <a href="<?php echo $this->getAddToWishlistUrl($_product) ?>" rel="nofollow" class="link-wishlist" title="<?php echo $this->__('Add to Wishlist') ?>">
                                                                    <?php echo $this->__('Add to Wishlist') ?>
                                                                </a>
                                                            <?php endif;?>
                                                        </>
                                                    <?php endif; ?>
                                                <?php } ?>
                                                <?php if($compare=="true"){?>
                                                    <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                                        <li class="actions-inner-compare">
                                                            <?php if($syshelper->checkIfProductInComparelist($_product->getEntityId())):?>
                                                                <a href="#" rel="nofollow" onclick="ajaxCompare('<?php echo $_compareUrl?>','<?php echo $_product->getId()?>', this); return false;" class="link-compare" title="<?php echo $this->__('Added to Compare');?>">
                                                                    <?php echo $this->__('Added to Compare') ?>
                                                                </a>
                                                                <div class="added-to-compare"></div>
                                                            <?php else:?>

                                                            <a href="#" rel="nofollow" onclick="ajaxCompare('<?php echo $_compareUrl?>','<?php echo $_product->getId()?>', this); return false;" class="link-compare" title="<?php echo $this->__('Add to Compare'); ?>"><?php echo $this->__('Add to Compare') ?></a>

                                                            <?php endif;?>
                                                        </li>
                                                    <?php endif; ?>
                                                <?php } ?>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <?php $attrVal =''; ?>
                <?php $attrVal2=''; ?>
            <?php  endforeach; ?>
        </ul>
    </div>
    <?php if($i > 0):?>
        <script type="text/javascript">
            var pagination;
            if (jQuery(window).width() < 768) {
                pagination = true;
            }
            else {
                pagination = <?php echo $pagination;?>;
            }

            jQuery(document).ready(function() {
                jQuery(".<?php echo $sliderClass ?>").owlCarousel({
                    items : 4,
                    autoPlay : <?php echo $autoplay;?>,
                    itemsCustom : [
                        [0, <?php echo $smallport;?>],
                        [480, <?php echo $smallland;?>],
                         [600, <?php echo $smallland;?>],
                        [768, <?php echo $ipadport;?>],
                        [1024, <?php echo $ipadland;?>],
                        [1200, <?php echo $ipadland;?>],
                        [1400, <?php echo $desktop;?>],
                        [1600, <?php echo $desktop;?>]
                    ],
                    itemsMobile : false,
                    lazyLoad : true,
                    navigation : <?php echo $navigation;?>,
                    pagination: pagination,
                    /*
                    pagination: // echo $pagination;?>,
                    */
                    navigationText: ["<i class='fa'> &lt; </i>","<i class='fa'> &gt; </i>"]
                });
            });

            /*jQuery(document).ready(function () {
                jQuery('.category-product-slider ').each(function () {
                    var el = jQuery(this);
                    while(el.find('.owl-page > span').length > 5){
                        el.find('.owl-page:last-child').remove();
                    }
                    el.find('owl-page').last().hide();
                })

            });*/

        </script>
    <?php endif;?>
    <?php $i=0;?>
</div>
<?php endif;?>