/*************************************************
*CATEGORY PRODUCT SLIDER CSS
*************************************************/
.category-product-slider *{box-sizing:border-box;}
.category-product-slider
{
	padding: 49px 0;
	overflow:hidden;
	padding-bottom: 0;
}
.category-product-slider .title{
	margin:0;
	border-bottom: 3px solid #092370;
	margin-left: 10px;
	max-width: 580px;
}
.right-slider-block .title{
	max-width: 580px;
}
.left-slider-block .title{
	max-width: 580px;
}
.dual-sliders-block .title {
	max-width: 580px;
}
.category-product-slider .title p {
	text-align: left;
	font-size: 24px!important;
	text-transform: uppercase;
	color: #092370;
	cursor: pointer;
	margin-bottom: 13px;
}
.category-product-slider .title p a {
	text-align: left;
	font-size: 24px!important;
	text-transform: uppercase;
	color: #092370;
	cursor: pointer;
	margin-bottom: 13px;
}
.category-product-slider .title p a:hover {
	text-decoration: underline;
}
.category-product-slider ul,
.category-product-slider .actions-inner ul
{
	padding:0;
	margin:0;
	list-style-type:none;
}
.category-product-slider ul li
{
	margin:0;
	list-style-type:none;
}
.category-product-slider .product-slider
{
	position:relative;
	margin:0;
}
.product-slider-outer{
	margin: 0 auto;
	box-sizing: border-box;
	margin-top: 20px;
	max-width: 1200px;
}
.category-product-slider .ratings .rating-box{margin:0 auto;}
.category-product-slider .actions-inner .actions-inner-wishlist {
	height: 110px;
	line-height: 1.2;
	width: 80px;
	padding: 0;
	margin: 0;
	position: relative;
	float: right;
	margin-right: 100px;
}
.category-product-slider .actions-inner .actions-inner-wishlist .added-to-wishlist {
	background-image: url(../../images/consol/icon-wish-comp.png);
	width: 11px;
	height: 11px;
	position: absolute;
	top: 22px;
	left: 45px;
}
.category-product-slider .actions-inner .actions-inner-wishlist .link-wishlist {
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0px;
	background: none;
	color: #666666;
	padding-top: 46px;
	display: inline-block;
}
.category-product-slider .actions-inner .actions-inner-wishlist .link-wishlist:hover {
	color: #092370;
	text-decoration: underline;
}
.category-product-slider .actions-inner .actions-inner-wishlist .link-wishlist:before {
	content: '';
	display: inline-block;
	position: absolute;
	top: 19px;
	right: 30px;
	width: 19px;
	height: 19px;
	-webkit-mask: url(../../images/consol/like.svg);
	mask: url(../../images/consol/like.svg);
	-webkit-mask-size: cover;
	mask-size: cover;
	background-color: #666666;
	margin: 0 auto;
}
.category-product-slider .actions-inner .actions-inner-wishlist .link-wishlist-active {
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0px;
	background: none;
	color: #666666;
	padding-top: 46px;
	display: inline-block;
}
.category-product-slider .actions-inner .actions-inner-wishlist .link-wishlist-active:hover {
	color: #092370;
	text-decoration: underline;
}
.category-product-slider .actions-inner .actions-inner-wishlist .link-wishlist-active:before {
	content: '';
	display: inline-block;
	position: absolute;
	top: 19px;
	right: 30px;
	width: 19px;
	height: 19px;
	-webkit-mask: url(../../images/consol/like.svg);
	mask: url(../../images/consol/like.svg);
	-webkit-mask-size: cover;
	mask-size: cover;
	background-color: #666666;
	margin: 0 auto;
}
.category-product-slider .actions-inner .actions-inner-compare {
	height: 110px;
	width: 80px;
	padding: 0;
	margin: 0;
	position: relative;
}
.category-product-slider .actions-inner .actions-inner-compare .added-to-compare {
	background-image: url(../../images/consol/icon-wish-comp.png);
	width: 11px;
	height: 11px;
	position: absolute;
	top: 22px;
	left: 45px;
}
.category-product-slider .actions-inner .actions-inner-compare .link-compare {
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0px;
	background: none;
	color: #666666;
	padding-top: 46px;
	display: inline-block;
}
.category-product-slider .actions-inner .actions-inner-compare .link-compare:hover {
	color: #092370;
	text-decoration: underline;
}
.category-product-slider .actions-inner .actions-inner-compare .link-compare:before {
	content: '';
	display: inline-block;
	position: absolute;
	top: 19px;
	right: 30px;
	width: 19px;
	height: 17px;
	-webkit-mask: url(../../images/consol/comparison.svg);
	mask: url(../../images/consol/comparison.svg);
	-webkit-mask-size: cover;
	mask-size: cover;
	background-color: #666666;
	margin: 0 auto;
}
.category-product-slider .actions-inner .actions-inner-compare .link-compare-active {
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0px;
	background: none;
	color: #666666;
	padding-top: 46px;
	display: inline-block;
}
.category-product-slider .actions-inner .actions-inner-compare .link-compare-active:hover {
	color: #092370;
	text-decoration: underline;
}
.category-product-slider .actions-inner .actions-inner-compare .link-compare-active:before {
	content: '';
	display: inline-block;
	position: absolute;
	top: 19px;
	right: 30px;
	width: 19px;
	height: 17px;
	-webkit-mask: url(../../images/consol/comparison.svg);
	mask: url(../../images/consol/comparison.svg);
	-webkit-mask-size: cover;
	mask-size: cover;
	background-color: #666666;
	margin: 0 auto;
}
.big-width-slider .product-info-block {
	font-size: 26px;
	color: #092370;
}
.big-width-slider .actions {
	background-color: #fcc000;
	height: 60px;
	line-height: 60px;
	text-align: center;
	width: 280px;
	color: #092370;
	font-size: 18px;
	cursor: pointer;
}
.big-width-slider .actions:hover {
	background-color: #092370;
	text-decoration: underline;
	color: #f7f7f7;
}
.big-width-slider .actions:hover a {
	color: #f7f7f7;
}

.big-width-slider .product-info-block {
	height: 50px;
	font-size: 26px;
	color: #092370;
	line-height: 40px;
}
.product-info-block .head {
	color: #333333;
	width: 120px;
	display: inline-block;
}
.category-product-slider .owl-item .item-outer {
	padding: 0px;
	box-sizing:border-box;
	margin:0;
	max-width: 280px;
}
.category-product-slider p,
.std .category-product-slider p{margin:0;}
.category-product-slider .item-inner {
	position: relative;
	padding: 0;
	width: 280px;
	margin-bottom: 5px;
	transition: 0.5s;
}
.category-product-slider .item-inner:hover {
	/*-webkit-box-shadow: 0px 0px 10px 3px rgba(223,223,223,1);
	-moz-box-shadow: 0px 0px 10px 3px rgba(223,223,223,1);
	box-shadow: 0px 0px 10px 3px rgba(223,223,223,1);*/
	-moz-box-shadow:0px 0px 13px rgba(0, 0, 0, 0.349019607843137);
	-webkit-box-shadow:0px 0px 13px rgba(0, 0, 0, 0.349019607843137);
	box-shadow:0px 0px 13px rgba(0, 0, 0, 0.349019607843137);
	transition: 0.5s;

	/*-webkit-box-shadow: 0px 2px 7px 0px rgba(186,186,186,1);
	-moz-box-shadow: 0px 2px 7px 0px rgba(186,186,186,1);
	box-shadow: 0px 2px 7px 0px rgba(186,186,186,1);*/
}
.category-product-slider .owl-item {
	padding: 0 10px;
}
.category-product-slider .item-img {
	position:relative;
}
.item-img .main-image {
	width: 280px;
	height: 280px;
	background-color: #ffffff;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.category-product-slider .newproduct {
	position:relative;
	padding: 0px;
	left:0;
	top:0;
	width: 100px;
	text-align:center;
	font-size:14px;
	background-color: #8bc34a;
	z-index:99;
	color:#f7f7f7;
	height: 40px;
	line-height: 40px;
	text-indent: 0;
	text-transform: uppercase;
	font-weight: 700;
}
.category-product-slider .newproduct:hover {
	cursor: pointer;
}
.category-product-slider .saleproduct {
	position:relative;
	padding:0px;
	right: 0;
	top: 0;
	width: 100px;
	text-align:center;
	font-size:14px;
	background-color: #ff5722;
	z-index:99;
	color:#f7f7f7;
	height: 40px;
	line-height: 40px;
	text-indent: 0;
	text-transform: uppercase;
	font-weight: 700;
}
.category-product-slider .saleproduct:hover {
	cursor: pointer;
}
.category-product-slider .val-new {
	position: relative;
	padding: 0px;
	right: 0;
	margin-right: auto;
	top: 0;
	width: 100px;
	text-align: center;
	font-size: 14px;
	z-index: 99;
	color: #f7f7f7;
	height: 40px;
	line-height: 40px;
	text-indent: 0;
	font-weight: bold;
	text-transform: uppercase;
}
.category-product-slider .val-new:hover {
	cursor: pointer;
}
.category-product-slider .val-used {
	position:absolute;
	padding:5px;
	left:0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	top:0;
	width: 60px;
	text-align:center;
	font-size:14px;
	background-color: orangered;
	z-index:99;
	color:#fff;
	height: auto;
	text-indent: 0;
	font-weight: 700;
}
.category-product-slider .new-box .saleproduct{
	right:0px;
	left:auto;
	background:#ff8000;
}
.category-product-slider .product-image
{
	border:none;
	display:block;
}
.block-slider-small .product-image:after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 29px;
	height: 29px;
	top: 10px;
	right: 10px;
	background-image: url(../../images/consol/icon-tp.png);
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1000;
	border-radius: 50px;
}
.block-slider-big .product-image:after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 29px;
	height: 29px;
	top: 10px;
	right: 10px;
	background-image: url(../../images/consol/icon-tp.png);
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1000;
	border-radius: 50px;
}
.dual-sliders-block .product-image:after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 29px;
	height: 29px;
	top: 10px;
	right: 10px;
	background-image: url(../../images/consol/icon-tp.png);
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1000;
	border-radius: 50px;
}
.category-product-slider .product-image img{
	position: absolute;
	left: 50%;
	margin-left: -166px;
}
.category-product-slider .box-content
{
	text-align:left;
	margin:0;
}
.category-product-slider .product-name {
	font-size: 18px;
	padding: 0;
	margin: 0;
	color: #092370;
	padding-left: 10px;
	height: 74px;
	overflow: hidden;
	line-height: 1.25;
}
.category-product-slider .block-slider-small .product-name {
	font-size: 18px;
	padding: 0;
	margin: 0;
	color: #092370;
	line-height: 1;
	padding-left: 10px;
	height: 58px;
	overflow: hidden;
}
.category-product-slider .block-slider-big .product-name {
	font-size: 18px;
	padding: 0;
	margin: 0;
	color: #092370;
	line-height: 1;
	padding-left: 10px;
	height: 58px;
	overflow: hidden;
}
.custom-slider-2 .product-info-block {
	height: 66px;
	line-height: 66px;
	font-size: 36px;
	color: #092370;
	font-weight: 700;
	padding-left: 10px;
}
.custom-slider-2 .actions {
	background-color: #fcc000;
	height: 60px;
	line-height: 60px;
	text-align: center;
	width: 280px;
	color: #092370;
	font-size: 18px;
	cursor: pointer;
}
.custom-slider-2 .actions a {
	color: #092370;
}
.block-slider-big .actions a {
	color: #092370;
}
.custom-slider-2 .actions:hover {
	background-color: #092370;
	text-decoration: underline;
	color: #f7f7f7;
}
.custom-slider-2 .actions:hover a {
	color: #f7f7f7;
}
.category-product-slider .product-name a {
	color: #092370;
	display: inline-block;
	padding-top: 18px;
	height: 65px;
	line-height: 1.2;
	overflow: hidden;
}
.category-product-slider .product-name a:hover {
	text-decoration: underline;
}
.category-product-slider .no-rating
{
	margin:5px 0;
}
.category-product-slider .price-box
{
	height: 50px;
	line-height: 1;
	font-size: 36px;
	color: #092370;
	font-weight: bold;
	padding-left: 10px;
}
/*.category-product-slider .price-box .special-price {
	display: none;
}*/
.category-product-slider .product-info-block {
	padding-left: 10px;
	padding-bottom: 20px;
}
.big-width-slider .product-info-block {
	height: 66px;
	line-height: 66px;
	font-size: 36px;
	color: #092370;
	font-weight: bold;
	padding-bottom: 0px;
}
.item-currency-symbol {
	font-size: 14px!important;
	font-weight: 400!important;
}
.right-slider-block .product-info-block {
	padding-top: 0;
	padding-bottom: 0;
}
.left-slider-block .product-info-block {
	padding-top: 0;
	padding-bottom: 0;
}
.product-info-block div {
	height: 30px;
	line-height: 30px;
}
.category-product-slider .price-box p
{
	margin:0;
	padding:0;
	display:inline-block;
}
.category-product-slider .price-box .price  {
	font-size: 36px;
	line-height: 36px;
	color: #092370;
	font-weight: 700;
}
.category-product-slider .old-price .symbol {
	display: none!important;
}
.category-product-slider .old-price .price-unit {
	display: none!important;
}
.category-product-slider .old-price .price {
	font-size: 36px;
	color: #999999;
	font-weight: 700;
}
.category-product-slider .actions li,
{
	margin:5px 0;
}
.category-product-slider button {
	line-height: 30px;
	text-align: center;
	width: 280px;
	margin: 0;
	height: 60px;
	background-color: #4caf50;
}
.category-product-slider button:hover {
	background-color: #43a047;
	text-decoration: underline;
	color: #f7f7f7;
}
.category-product-slider button span {
	float: none;
}
.category-product-slider button span span {
	padding: 0;
	margin: 0;
	float: none;
	font-size: 18px;
	font-weight: 400;
	margin-left: 14px;
	font-style: normal;
}
.dual-sliders-block .actions-inner {
	text-align: center;
	font-size: 11px;
	margin-bottom: 60px;
}
.actions-inner .link-wishlist {
	display: inline-block;
	color: red;
}
.dual-sliders-block .actions-inner .btn-cart span span:before {
	content: '';
	display: inline-block;
	position: relative;
	top: 2px;
	right: 11px;
	width: 18px;
	height: 17px;
	-webkit-mask: url(../../images/consol/Shop-cart.svg);
	mask: url(../../images/consol/Shop-cart.svg);
	-webkit-mask-size: cover;
	mask-size: cover;
	background-color: #f7f7f7;
	margin: 0 auto;
}
.category-product-slider .owl-theme .owl-controls .owl-buttons div
{
	line-height:30px;
	text-align:center;
	color:#999999;
}
.category-product-slider .owl-theme .owl-controls .owl-buttons div .fa
{
	display: none;
}
.big-width-slider .owl-theme .owl-controls .owl-buttons div .fa {
	display: none;
}
.big-width-slider .owl-theme .owl-controls .owl-buttons div .fa:hover {
	color:#092370;
}
.block-slider-small .owl-controls .owl-buttons .owl-prev{
	left: 510px;
	top: -62px;
	height: 21px;
	width: 13px;
	background-image: url(../../images/consol/switch-not-active-left.png);
	background-repeat: no-repeat;
}
.block-slider-small .owl-controls .owl-buttons .owl-prev:hover{
	background-image: url(../../images/consol/switch-active-left.png);
}
.block-slider-small .owl-controls .owl-buttons .owl-next{
	right: 35px;
	top: -62px;
	height: 21px;
	width: 13px;
	background-image: url(../../images/consol/switch-not-active-right.png);
	background-repeat: no-repeat;
}
.block-slider-small .owl-controls .owl-buttons .owl-next:hover{
	background-image: url(../../images/consol/switch-active-right.png);
}
.big-width-slider .owl-controls .owl-buttons .owl-prev{
	left: 510px;
	top: -62px;
	height: 21px;
	width: 13px;
	background-image: url(../../images/consol/switch-not-active-left.png);
	background-repeat: no-repeat;
}
.big-width-slider .owl-controls .owl-buttons .owl-prev:hover{
	background-image: url(../../images/consol/switch-active-left.png);
}
.big-width-slider .owl-controls .owl-buttons .owl-next{
	right: 635px;
	top: -62px;
	height: 21px;
	width: 13px;
	background-image: url(../../images/consol/switch-not-active-right.png);
	background-repeat: no-repeat;
}
.big-width-slider .owl-controls .owl-buttons .owl-next:hover{
	background-image: url(../../images/consol/switch-active-right.png);
}
.product-slider-types .owl-controls .owl-buttons .owl-prev{
	left: 510px;
	top: -62px;
	height: 21px;
	width: 13px;
	background-image: url(../../images/consol/switch-not-active-left.png);
	background-repeat: no-repeat;
}
.product-slider-types .owl-controls .owl-buttons .owl-prev:hover{
	background-image: url(../../images/consol/switch-active-left.png);
}
.product-slider-types .owl-controls .owl-buttons .owl-next{
	right: 35px;
	top: -62px;
	height: 21px;
	width: 13px;
	background-image: url(../../images/consol/switch-not-active-right.png);
	background-repeat: no-repeat;
}
.product-slider-types .owl-controls .owl-buttons .owl-next:hover{
	background-image: url(../../images/consol/switch-active-right.png);
}

.category-product-slider .owl-theme .owl-controls{text-align:center;/*margin:15px 0 0 0;*/}
.category-product-slider .owl-theme .owl-controls .owl-page{display:inline-block;margin-right: 8px!important;}
.category-product-slider .owl-theme .owl-controls .owl-page span
{
	margin: 0;
	height: 4px;
	width: 8px;
	display: block;
	cursor: pointer;
	background: #092370;

}
.category-product-slider .owl-theme .owl-controls .active span {
	background-color: #fcc000;
}
.regular-price .price span {
	font-size: 14px;
	font-weight: 400;
}
.category-product-slider .regular-price .price-unit {
	font-size: 14px;
	font-weight: 400;
}
.category-product-slider .price .symbol {
	font-size: 14px;
	font-weight: 400;
}
.category-product-slider .price .price-unit {
	font-size: 14px;
	font-weight: 400;
}


/***************************** contacts ***************************************/

.consol-departments-index-index .product-slider-outer .owl-wrapper-outer {
	padding-top: 20px;
	height: 443px;
	margin-left: -10px;
}
.consol-departments-index-index .product-slider-outer .owl-controls {
	position: absolute;
	bottom: 484px;
	right: 0;
}
.consol-departments-index-index .product-slider-outer .owl-controls .owl-buttons div {
	line-height: 30px;
	text-align: center;
	color: #999999;
}
.consol-departments-index-index .product-slider-outer .owl-controls .owl-buttons div .fa {
	display: none;
}
.consol-departments-index-index .product-slider-outer .owl-controls .owl-buttons .owl-prev {
	position: absolute;
	bottom: 370px;
	left: auto;
	right: 77px;
	height: 21px;
	width: 13px;
	background-image: url(../../images/consol/switch-not-active-left.png);
	background-repeat: no-repeat;
}
.consol-departments-index-index .product-slider-outer .owl-controls .owl-buttons .owl-prev:hover {
	background-image: url(../../images/consol/switch-active-left.png);
}
.consol-departments-index-index .product-slider-outer .owl-controls .owl-buttons .owl-next {
	position: absolute;
	right: 34px;
	bottom: 370px;
	height: 21px;
	width: 13px;
	background-image: url(../../images/consol/switch-not-active-right.png);
	background-repeat: no-repeat;
}
.consol-departments-index-index .product-slider-outer .owl-controls .owl-buttons .owl-next:hover {
	background-image: url(../../images/consol/switch-active-right.png);
}



@media screen and (max-width: 1199px) {
	.item-img .main-image {
		width: 223px;
		height: 223px;
	}
	.category-product-slider .item-inner {
		width: auto;
	}
	.right-slider-block .title {
		max-width: 465px;
	}
	.left-slider-block .title {
		max-width: 465px;
	}
	.category-product-slider .product-image img {
		height: 100%;
		margin-left: -130px;
	}.custom-slider-2 .actions {
		 width: 223px;
	 }
	.block-slider-small .owl-controls .owl-buttons .owl-prev {
		left: 395px;
	}
	.big-width-slider .owl-controls .owl-buttons .owl-next {
		right: 520px;
	}
	.big-width-slider .owl-controls .owl-buttons .owl-prev {
		left: 395px;
	}
	.dual-sliders-block .title {
		max-width: 465px;
	}
	.product-slider-types .owl-controls .owl-buttons .owl-prev {
		left: 395px;
	}
	/*.category-product-slider .price-box .price {
		font-size: 33px;
	}*/
	.category-product-slider button {
		width: 223px;
	}
	.category-product-slider .actions-inner .actions-inner-wishlist {
		margin-right: 63px;
	}
	.category-product-slider .title {
		max-width: 465px;
	}
	.big-width-slider .actions {
		width: 223px;
	}
	.category-product-slider button span span {
		margin-left: 14px;
	}
}
@media screen and (max-width: 991px) {
	.category-product-slider .title {
		max-width: 718px;
		margin-left: 5px;
	}
	.item-img .main-image {
		width: 354px;
		height: 280px;
	}
	.category-product-slider .product-image img {
		max-height: initial;
		width: 354px;
		margin-left: -177px;
	}
	.category-product-slider .owl-item {
		padding: 0;
		width: 354px !important;
		margin: 0 5px;
	}
	.category-product-slider .owl-item .item-outer {
		max-width: 354px;
	}
	.category-product-slider {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 15px;
	}
	.block-slider-small .owl-controls .owl-buttons .owl-next {
		right: 30px;
	}
	.block-slider-small .owl-controls .owl-buttons .owl-prev {
		left: 642px;
	}
	.custom-slider-2 .actions {
		width: 354px;
		margin-bottom: 40px;
	}
	.product-slider-types .owl-controls .owl-buttons .owl-prev {
		left: 642px;
		width: 12px;
	}
	.category-product-slider button {
		width: 354px;
	}
	.category-product-slider .actions-inner .actions-inner-wishlist {
		margin-right: 182px;
		height: 90px;
	}
	.category-product-slider .actions-inner .actions-inner-compare {
		height: 90px;
	}

	/*.big-width-slider .owl-controls .owl-buttons .owl-next:before:hover {
		background-color: #fcc000;
	}*/

	.big-width-slider .actions {
		width: 354px;
		margin-bottom: 45px;
	}
	.custom-slider-2 .product-info-block {
		height: 66px;
		line-height: 66px;
	}
	.product-slider-types .owl-controls .owl-buttons .owl-next {
		right: 30px;
	}
	.big-width-slider .owl-controls .owl-buttons .owl-prev {
		left: 642px;
	}
	.big-width-slider .owl-controls .owl-buttons .owl-next {
		right: 30px;
	}
	.dual-sliders-block .actions-inner {
		margin-bottom: 0px;
	}
	.consol-departments-index-index .product-slider-outer .owl-controls .owl-buttons .owl-next {
		right: 0px;
	}
	.consol-departments-index-index .product-slider-outer .owl-controls .owl-buttons .owl-prev {
		right: 43px;
	}
	.consol-departments-index-index .product-slider-outer .owl-wrapper-outer {
		height: 500px;
	}
	.consol-departments-index-index .product-slider-outer .owl-controls {
		bottom: 541px;
	}
	.consol-departments-index-index .product-slider-outer .owl-wrapper-outer {
		margin-left: 0px;
	}
	.consol-departments-index-index .owl-wrapper .owl-item .item span {
		padding-top: 18px;
	}
}
@media screen and (max-width: 767px) {
	.category-product-slider .title p {
		font-size: 14px!important;
		font-weight: bold;
	}
	.category-product-slider .title p a {
		font-size: 14px!important;
		font-weight: bold!important;
	}
	.category-product-slider {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 10px;
		position: relative;
	}
	.block-slider-small .owl-controls .owl-buttons .owl-prev {
		left: 5px;
		top: -40px;
	}
	.block-slider-small .owl-controls .owl-buttons .owl-next {
		right: 5px;
		top: -40px;
	}
	.product-slider-types .owl-controls .owl-buttons .owl-prev {
		left: 5px;
		top: -40px;
	}
	.product-slider-types .owl-controls .owl-buttons .owl-next {
		right: 5px;
		top: -40px;
	}
	.category-product-slider .title {
		border-bottom: none;
	}
	.owl-controls .owl-pagination {
		position: absolute;
		top: -41px;
		left: 28px;
	}
	.product-slider-outer {
		margin-top: 55px;
	}
	.category-product-slider .owl-item {
		width: auto;
	}
	.item-img .main-image {
		width: 280px;
		height: 280px;
	}
	.category-product-slider .item-inner {
		max-width: 280px;
	}
	.category-product-slider .owl-item .item-outer {
		max-width: 280px;
	}
	.category-product-slider .owl-item {
		width: 280px !important;
	}
	.custom-slider-2 .actions {
		width: 280px;
		margin-bottom: 45px;
	}
	.category-product-slider button {
		width: 280px;
	}
	.category-product-slider .actions-inner .actions-inner-wishlist {
		height: 110px;
		width: 50%;
		margin-left: 0;
		margin-right: 0;
	}
	.category-product-slider .actions-inner .actions-inner-compare {
		height: 110px;
		width: 50%;
		margin-left: 0;
		margin-right: 0;
	}
	.category-product-slider .actions-inner .actions-inner-compare .link-compare:before {
		right: 60px;
	}
	.category-product-slider .actions-inner .actions-inner-wishlist .link-wishlist:before {
		right: 60px;
	}
	.dual-sliders-block .actions-inner {
		margin-bottom: 10px;
	}
	.big-width-slider .actions {
		width: 100%;
	}
	.category-product-slider .owl-theme .owl-controls .owl-buttons div {

	}
	.category-product-slider .owl-controls .owl-buttons .owl-prev {
		height: 21px;
		background-image: url(../../images/consol/switch-not-active-left.png);
		background-repeat: no-repeat;
		width: 15px;
	}
	.category-product-slider .owl-controls .owl-buttons .owl-next {
		height: 21px;
		background-image: url(../../images/consol/switch-not-active-right.png);
		background-repeat: no-repeat;
		width: 193px;
	}
	.category-product-slider .owl-controls .owl-buttons .owl-next:before {
		content: '';
		display: inline-block;
		position: relative;
		height: 4px;
		width: 170px;
		background-color: #092370;
		bottom: 7px;
		right: 10px;
	}
	.product-slider-types .owl-controls .owl-buttons .owl-next {
		right: 5px;
		width: 193px;
	}
	.product-slider-types .owl-controls .owl-buttons .owl-next:before {
		content: '';
		display: inline-block;
		position: relative;
		height: 4px;
		width: 170px;
		background-color: #092370;
		bottom: 7px;
		right: 10px;
	}
	.big-width-slider .owl-controls .owl-buttons .owl-next {
		right: 5px;
		top: -40px;
		width: 193px;
	}
	.big-width-slider .owl-controls .owl-buttons .owl-next:before {
		content: '';
		display: inline-block;
		position: relative;
		height: 4px;
		width: 170px;
		background-color: #092370;
		bottom: 7px;
		right: 10px;
	}
	.big-width-slider .owl-controls .owl-buttons .owl-prev {
		left: 5px;
		top: -40px;
		width: 12px;
	}
	.category-product-slider h2.product-name {
		height: auto;
	}
	.slider-new-products .category-product-slider h2.product-name {
		height: auto;
	}
	.category-product-slider .product-image img {
		width: auto;
		height: auto;
		max-height: inherit;
		margin-left: -166px;
	}
	.slider-new-products .category-product-slider .price-box {
		height: auto;
		padding-top: 20px;
	}
	.category-product-slider .owl-controls .owl-buttons .last-element-active:before {
		background-color: #fcc000;
	}
	.consol-departments-index-index .product-slider-outer .owl-wrapper-outer {
		height: 300px;
	}
	.consol-departments-index-index .product-slider-outer .owl-controls {
		bottom: 312px;
	}
	.consol-departments-index-index .product-slider-outer .owl-controls .owl-buttons .owl-prev {
		right: 267px;
	}
	.consol-departments-index-index .owl-controls .owl-pagination {
		position: absolute;
		top: -1px;
		left: -267px;
		width: 100px;
	}
	.consol-departments-index-index .product-slider-outer .owl-controls .owl-buttons .owl-next:before {
		content: '';
		display: inline-block;
		position: relative;
		height: 4px;
		width: 170px;
		background-color: #092370;
		bottom: 7px;
		right: 180px;
	}
	.consol-departments-index-index .product-slider-outer .owl-theme .owl-controls .owl-page {
		margin-right: 8px!important;
	 }
	.consol-departments-index-index .product-slider-outer .owl-theme .owl-controls .owl-page span {
		margin: 0;
		height: 4px;
		width: 8px;
		display: block;
		cursor: pointer;
		background: #092370;
	}
	.consol-departments-index-index .product-slider-outer .owl-theme .owl-controls .owl-page span:hover {
		background: #fcc000;
	}
	.consol-departments-index-index .product-slider-outer .owl-theme .owl-controls .active span {
		background-color: #fcc000;
	}
	.consol-departments-index-index .product-slider-outer .owl-controls .owl-buttons .last-element-active:before {
		background-color: #fcc000;
	}
	.consol-departments-index-index .owl-wrapper .owl-item .item span {
		max-width: 240px;
	}
}