<?php
$partnersCollection = $this->getPartnersCollection();
$helper = Mage::helper('consol_partners');
$baseUrl = Mage::getBaseUrl('media').'partners'.DS;
?>

<?php if ($partnersCollection->getSize() > 0): ?>

    <?php
    $partnersItem= count($partnersCollection);
    if($partnersItem > 4)  {
        $_sliderOnOf = "homeSider3";
        $_itemwidth = "free";
        $_homeIndent = "homeIndent";
        $_slidControl3 = '<div class="home-carousel-control">
            <a class="carousel-prev-beginning fa fa-angle-double-left" href="#"></a> 
            <a class="carousel-prev3 fa fa-angle-left" href="#"></a>
            <a class="carousel-next3 fa fa-angle-right" href="#"></a>
            <a class="carousel-next-end fa fa-angle-double-right" href="#"></a> 
        </div>';
        $_sliderPagination = "caroufredsel-pagination";
    } else {
        $_sliderOnOf = "grid-clol-6";
        $_itemwidth = "col-item4";

    }
    ?>

    <div class="blog-bg">
        <div class="widget-latest <?php echo $_homeIndent;?>">
            <div class="page-title category-title center">
                <p><a href="<?php echo (Mage::getUrl('partners'));?>" class="all_block_header" ><?php echo Mage::helper('blog')->__('Компании, которые нам доверяют');  ?></a></p>
            </div>
                <ul class="<?php echo $_sliderOnOf;?> " id="partners-slider">
                    <?php $i = 0; ?>
                    <?php foreach ($partnersCollection as $partner): ?>
                        <?php if ($i<5): ?>
                            <li class="<?php echo $_itemwidth; ?>">
                                <div class="wrapper-hover">
                                    <div class="postContent">
                                        <div class="postContent_inner">
                                        <?php if($partner->getLogo()): ?>
                                            <a href="<?php echo $partner->getLink(); ?>"  title="<?php echo $partner->getName(); ?>">
                                                <img src="<?php echo $baseUrl.$partner->getLogo(); ?>">
                                            </a>
                                        <?php endif;?>
                                        </div>
                                    </div>
                                    <div class="widget-latest-title" title="<?php echo $partner->getName(); ?>"><a href="<?php echo $partner->getLink(); ?>" ><?php echo $partner->getName(); ?></a>
                                    </div>
                                </div>
                            </li>
                        <?php endif; ?>
                        <?php $i++; ?>
                    <?php endforeach; ?>
                </ul>
            <div class="caroufredsel-pagination"></div>
            <div class="widget_latest_caroufredsel_wrapper">
            </div>
            <?php echo "$_slidControl3"; ?>
        </div>
    </div>
<?php endif; ?>