<?php
$partnersCollection = $this->getPartnersCollection();
$helper = Mage::helper('consol_partners');
$baseUrl = Mage::getBaseUrl('media').'partners'.DS;
?>

<?php if ($partnersCollection->getSize() > 0): ?>
    <div class="partnerts_index_collection">
    <?php foreach ($partnersCollection as $partner): ?>
        <div class="partners_item">
            <h2><a href="<?php echo $partner->getLink(); ?>" ><?php echo $partner->getName(); ?></a></h2>
            <div class="partners_item_image">
                <?php if($partner->getLogo()): ?>
                    <a href="<?php echo $partner->getLink(); ?>" >
                        <img src="<?php echo $baseUrl.$partner->getLogo(); ?>">
                    </a>
                <?php endif;?>
            </div>
        <div class="partners_item_description">
            <?php echo $partner->getDescription();?>
        </div>
        </div>
    <?php endforeach; ?>
    </div>
<?php endif; ?>
