<?php
$departmentsCollection = $this->getDepartmentsCollection();
$helper = Mage::helper('consol_departments');
$baseUrl = Mage::getBaseUrl().'contact/send/';

?>

<?php if($departmentsCollection->getSize() > 0): ?>

    <div class="block-title"><h2><?php echo $helper->__('Контакты отделов компании');?></h2></div>
    <ul class="contact_departs_list">
        <?php foreach ($departmentsCollection as $depart):?>

            <li class="depart">
                <span class="depart_index_title"><?php echo $depart->getName();?></span>
                <span class="depart_index_phone"><?php echo $depart->getPhone();?></span>
                <span class="depart_index_email"><?php echo $depart->getEmail();?></span>
                <div class="depart_index_button"><a href="<?php echo $baseUrl.$depart->getAlias(); ?>"><?php echo $helper->__('Написать сообщение');?></a></div>
            </li>

        <?php endforeach;?>
    </ul>
<?php endif;?>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyL2Nj9kLbOD-qZ3PNqli2eAWyaAOXdi8&libraries=places&callback=initMap">
</script>
<script type="text/javascript">

    function initMap() {
        var uluru = {lat: 50.4129601, lng: 30.6072799};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 11,
            center: uluru
        });

        var infowindow = new google.maps.InfoWindow();
        var service = new google.maps.places.PlacesService(map);

        service.getDetails({
            placeId: 'ChIJHckeKJ_F1EARmKXnpmH1NAI'
        }, function(place, status) {

            if (status === google.maps.places.PlacesServiceStatus.OK) {
                var marker = new google.maps.Marker({
                    map: map,
                    position: uluru,
                    
                });
                //google.maps.event.addListener(marker, 'mouseover', function() {
                    infowindow.setContent('<div><strong>' + 'ТОВ "Тарне Рішення"' + '</strong><br>' +
                    place.formatted_address + '</div>');
                    infowindow.open(map, marker);
                //});
            }
        });
    }


    var pagination;
    if (jQuery(window).width() < 768) {
        pagination = true;
    }
    else {
        pagination = false;
    };
    var responsiveItems = 1;
    var desctopItems = 2;
    jQuery(document).ready(function() {
        jQuery(".page-contact-slider").owlCarousel({
            items : 2,
            autoPlay : false,
            itemsCustom : [
                [0, responsiveItems],
                [480, responsiveItems],
                [600, responsiveItems],
                [768, responsiveItems],
                [991, responsiveItems],
                [1024, desctopItems],
                [1200, desctopItems],
                [1400, desctopItems],
                [1600, desctopItems]
            ],
            itemsMobile : false,
            lazyLoad : true,
            navigation : true,
            pagination: pagination,
            /*
            pagination: // echo $pagination;?>,
            */

            navigationText: ["<i class='fa'> &lt; </i>","<i class='fa'> &gt; </i>"]
        });
    });


</script>