<?php
$departmentsCollection = $this->getDepartmentsCollection();
$helper = Mage::helper('consol_departments');
$storeId = Mage::app()->getStore()->getStoreId();

$alias = $this->getRequest()->getParam('id');
$curentDepart = $this->getDepartmentModel($alias);

if (count($curentDepart) == 0):
    $curentDepart = $this->getFirstItemModel();
endif;

$contactId = $curentDepart['entity_id'];
$contactName = $curentDepart['name'];
$contactDescription = $curentDepart['description'];
$formTitle = $curentDepart['form_title'];
$actionUrl = Mage::getUrl('*/*/post');
$baseUrl = Mage::getUrl('contact');

?>
<div class="contact-mobile-back">
    <a href="<?php echo $baseUrl; ?>"><?php echo $helper->__('Назад');?></a>
</div>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="container-feedback-form-right-title">
    <h1 class="container-feedback-title"><?php echo $helper->__('Отправка сообщения в ');?><span id="dynamic-title-name" class="dynamic-title-name"><?php echo $formTitle ?></span></h1>
    <div class="container-feedback-text-box">
        <span class="container-feedback-text" id="container-feedback-text"><?php echo $contactDescription;?></span>
    </div>
</div>
<div class="container-feedback-form-right">
    <form class="feedback-form form-horizontal col-md-push-3 col-md-9 col-xs-12" id="feedbackForm" method="post" enctype="multipart/form-data" action="<?php echo $actionUrl;?>">
        <div class="form-wrapper">
            <div class="form-group">
                <input type="hidden" class="param" name="param" value="<?php echo $alias;?>">
                <label for="id" class="col-md-2 col-xs-12 control-label required"><?php echo $helper->__('Department');?><em>*</em></label>
                <div class="col-md-10 col-xs-12">
                    <select name="id" id="id" class="form-control required-entry">
                        <?php if ($contactId !=''): ?>
                            <option class="depart_option" value="<?php echo $contactId;?>"><?php echo $contactName ?></option>
                        <?php endif; ?>
                        <?php foreach ($departmentsCollection as $department):?>
                            <?php if ($department->getEntityId() != $contactId): ?>
                                <option class="depart_option" value="<?php echo $department->getEntityId();?>"><?php echo $department->getName();?></option>
                            <?php endif; ?>
                        <?php endforeach;?>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="last-name" class="col-md-2 col-xs-12 control-label required"><?php echo $helper->__('Surname');?><em>*</em></label>
                <div class="col-md-10 col-xs-12">
                    <input name="lastname" id="last-name" class="form-control input-text required-entry" type="text" placeholder="<?php echo $helper->__('Surname');?>" />
                </div>
            </div>
            <div class="form-group">
                <label for="first-name" class="col-md-2 col-xs-12 control-label required"><?php echo $helper->__('Name');?><em>*</em></label>
                <div class="col-md-10 col-xs-12">
                    <input name="firstname" id="first-name" class="form-control input-text required-entry" type="text" placeholder="<?php echo $helper->__('Name');?>" />
                </div>
            </div>
            <div class="form-group">
                <label for="middle-name" class="col-md-2 col-xs-12 control-label"><?php echo $helper->__('Middle name');?></label>
                <div class="col-md-10 col-xs-12">
                    <input name="middlename" id="middle-name" class="form-control input-text" type="text" placeholder="<?php echo $helper->__('Middle name');?>" />
                </div>
            </div>
            <div class="form-group">
                <label for="company" class="col-md-2 col-xs-12 control-label"><?php echo $helper->__('Company name');?></label>
                <div class="col-md-10 col-xs-12">
                    <input name="company" id="company" class="form-control input-text" type="text" placeholder="<?php echo $helper->__('Company name');?>" />
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-md-2 col-xs-12 control-label required"><?php echo $helper->__('Contact number');?><em>*</em></label>
                <div class="col-md-4 col-xs-12">
                    <input name="phone" id="phone" class=" form-control validate-number required-entry" type="tel" placeholder="<?php echo $helper->__('Contact number');?>" />
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-md-2 col-xs-12 control-label required"><?php echo $helper->__('Your E-mail');?><em>*</em></label>
                <div class="col-md-4 col-xs-12">
                    <input name="email" id="email" value="" class="form-control input-text required-entry validate-email" type="email" placeholder="<?php echo $helper->__('Your E-mail');?>" />
                </div>
            </div>
            <div class="form-group">
                <label for="subject" class="col-xs-12 control-label required"><?php echo $helper->__('Message subject');?><em>*</em></label>
                <div class="col-xs-12">
                    <input name="subject" id="subject" class="form-control input-text required-entry" type="text" placeholder="<?php echo $helper->__('Message subject');?>" />
                </div>
            </div>
            <div class="form-group group-col-left col-md-8 col-xs-12">
                <label for="message" class="col-xs-12 control-label required"><?php echo $helper->__('Messages');?><em>*</em></label>
                <div class="col-xs-12">
                    <textarea name="message" id="message" class="form-control required-entry input-text" rows="6" type="text" placeholder="<?php echo $helper->__('Text message');?>"></textarea>
                </div>
            </div>
            <div class="form-group group-col-right col-md-4 col-xs-12">
                <label class="col-xs-12 control-label" id="form-group-input-label-box" ><?php echo $helper->__('Add file');?></label>
                <span id="files-too-large" class="files-too-large"><?php echo $this->__('Files are too large!')?></span>
                <div id="form-input-file">
                   <label id="form-group-input-label">
                       <input type="file" id="attachfile" name="replyfiles[]" multiple> <!--File Element for multiple intput-->
                       <span><?php echo $this->__('Select a file'); ?></span>

                   </label>
                </div>
                <div id="filelist"><span class="nofile"><?php echo $this->__('No file selected'); ?></span></div>
            </div>
        </div>
        <div class="capcha" style="clear: both;">
            <div class="capcha_result">
                <label for="message" class="col-xs-12 control-label required required-hide-label"><?php echo $helper->__('Protection against spam');?><em>*</em></label>
                <label for="message" class="col-xs-12 control-label required required-show-label"><?php echo $helper->__('Защита <br> от спам-сообщений');?><em>*</em></label>
                <label for="capcha_result" class="control-label-result"><?php echo $helper->__('Please enter the result:');?></label>
                    <input type="text" name="capcha_result" id="capcha_result" class="required-entry">
                    <input type="hidden" name="confirm_capcha" id="confirm_capcha">
            </div>
            <div id="capcha_expresion">
                <span></span>
            </div>
            <div id="capcha_message" style="display: none;">
                <span>
                    <?php echo $this->__('Wrong capcha, please try again')?>
                </span>
            </div>
        </div>
        <div class="button-send_request">
            <button  name="button_request" id="button_send" value="" onclick="checkCapcha()"><?php echo $helper->__('Отправить почту');?></button>
        </div>
        <a href="<?php echo $baseUrl;?>" class="button button-default">
            <div class="contact-actions">
               <?php echo $helper->__('Вернуться к контактам');?>
            </div>
        </a>
    </form>
</div>



<script type="text/javascript">
        //< ![CDATA[
            var customForm = new VarienForm('feedbackForm');
       //]]>
    var selDiv = "";
    var storedFiles = []; //store the object of the all files
    var labelText = jQuery('#form-group-input-label span').html();
    document.addEventListener("DOMContentLoaded", init, false);
    function init() {
        document.querySelector('#attachfile').addEventListener('change', handleFileSelect, false);
        selDiv = document.querySelector("#filelist");
    }

    function handleFileSelect(e) {
        var error = false;
        var filefieldVal = jQuery('#filelist').html();
        if(!e.target.files) return;

        var files = e.target.files;
        var filesArr = Array.prototype.slice.call(files);

        filesArr.forEach(function(f) {
            var length = storedFiles.push(f);
            jQuery('#filelist').append('<span class="loadedfiles"><input type="hidden" name="files-array[]" data-index="'+ length +'" value="' + f.name + '">' + f.name + '<span class="remove-file"></span></span>');
            jQuery('.nofile').hide();
            jQuery('#form-group-input-label span').html('<?php echo $this->__('Add file')?>');
        });

        var oldInput = jQuery("input#attachfile");
        jQuery("input#attachfile").clone().appendTo(jQuery("input#attachfile").val('').parent());
        jQuery("input#attachfile").hide();
        jQuery("input[name=replyfiles]").val(storedFiles);

        var maxSize = 0;
        storedFiles.each(function (el) {
            maxSize += el['size'];
        });

        jQuery(".remove-file").on('click', function(){
            var delEl = jQuery(this).parent(".loadedfiles").find('input').data('index')-1;
            jQuery(this).parent(".loadedfiles").remove();
            if(jQuery('#filelist').find('.loadedfiles').length === 0){
                jQuery('.nofile').show();
                jQuery('#form-group-input-label span').html(labelText);
            }
            storedFiles.splice(delEl, 1);
            var maxSize2 = 0;
            storedFiles.each(function (el) {
                maxSize2 += el['size'];
            });

            if(maxSize2/1000000 > 20){
                jQuery('#files-too-large').fadeIn();
                error = true;
            }else{
                jQuery('#files-too-large').fadeOut();
                error = false;
            }
        });

        if(maxSize/1000000 > 20){
            jQuery('#files-too-large').fadeIn();
            error = true;
        }else{
            jQuery('#files-too-large').fadeOut();
            error = false;
        }
        jQuery('#button_send').on('click', function () {
            if(error === true){
                return false;
            }
        })
    }

</script>