<?php
$departmentsCollection = $this->getDepartmentsCollection();
$helper = Mage::helper('consol_departments');

$alias = $this->getRequest()->getParam('id');
$contact =array();
$curentDepart = $this->getDepartmentModel($alias);
if (count($curentDepart) > 0):
    $contact = $curentDepart;
else:
    $contact = $this->getFirstItemModel();
endif;

$baseUrl = Mage::getBaseUrl().'contact';
?>

<div class="contact-box container-form-left">
    <div class="contact-tile">
        <div class="contact-label" id="contact-label-name"><p><?php echo $contact['name'];?></p></div>
        <div class="contact-body">
            <a id="contact-label-phone" class="tel-link" href="tel:<?php echo $contact['phone']?>"><?php echo $contact['phone']?></a>
        </div>
        <div id="contact-label-email" class="minibox_department_email"><?php echo $contact['email']?></div>
    </div>
</div>

<?php $jsonCollection = $helper->getJsonDepartments();?>

<script>
    var id;
    var departmentsJson = JSON.parse('<?php echo $jsonCollection; ?>');

    jQuery(document).on('change', '#id', function(e) {
        id = this.options[e.target.selectedIndex].value;
        var getData = Object.keys(departmentsJson).map(function (key) { return departmentsJson[key]; });
        jQuery.each(getData, function(index, value) {
            if(value['id'] ==id) {
                document.getElementById('contact-label-name').innerHTML = value['name'];
                document.getElementById('contact-label-email').innerHTML = value['email'];
                document.getElementById('contact-label-phone').href = value['phone'];
                document.getElementById('contact-label-phone').innerHTML = value['phone'];
                document.getElementById('dynamic-title-name').innerHTML = value['form_title'];
                document.getElementById('container-feedback-text').innerHTML = value['description'];
            }
        });
    });

</script>
