<?php
$departmentsCollection = $this->getDepartmentsCollection();
$helper = Mage::helper('consol_departments');
$storeId = Mage::app()->getStore()->getStoreId();
$baseUrl = Mage::getBaseUrl().'contact/send/';
?>
<?php if($departmentsCollection->getSize()):?>
<div id="sticky_bot_menu">
    <div id="collapse_bot_menu">
        <div class="collapse_bot_menu_center"><span class="bot_menu_show"><?php echo $this->__('Collapse'); ?></span><span class="bot_menu_hide"><?php echo $this->__('Expand'); ?></span></div>
    </div>
    <div id="bot_departments_scroll" class="departments sticky_bot_menu_hide">
        <?php $firstDepartment = $departmentsCollection->getFirstItem();?>

        <?php $link = $baseUrl.$firstDepartment->getAlias();?>
        <div class="department-selector">
            <div  data-id="0" id="bot-zero-department" class="bot-zero-department"><span id="bot_inner_zero_department"><?php echo $helper->__('Выбрать отдел');?></span></div>
            <div class="padded"><i class="fa fa-sort-desc" aria-hidden="true"></i></div>
            <div class="select_depart_list" id="bot_depart_select_dropdown">
                <div class="department_select_dropdown">
                    <div class="select_dropdown_middle">
                        <ul id="select_bot_depart">
                            <?php foreach ($departmentsCollection as $department):?>
                                <li class="depart_option" data-id="<?php echo $department->getEntityId();?>"><span><?php echo $department->getName();?></span></li>
                            <?php endforeach;?>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="department-info">
            <div id="depart">
                <div id="bot_depart_name"><?php //echo $firstDepartment->getName();?></div>
                <div id="bot_send_depart_mail" class="department_mail_v1"><a id="bot_mail_depart_link" href="#"><?php echo $helper->__('Написать сообщение');?></a></div>
                <div id="bot_depart_phone" class="department_phone_v1"><?php echo $helper->__('+38-044-503-01-24')?></div>
            </div>
        </div>
    </div>
</div>
<?php endif;?>
<?php $jsonCollection = $helper->getJsonDepartments();?>
<script>
    jQuery(document).ready(function(e) {
        if (jQuery('#bot_mail_depart_link').attr('href') === '#') {
            jQuery('#bot_inner_zero_department').attr('title', '<?php echo $this->__('Для отправки сообщение выберите соответствующий отдел') ?>')
        }

       /* jQuery(document).click(function (event) {
            if (jQuery(event.target).closest(".department-selector").length == '0') {
                if (jQuery('#bot_depart_select_dropdown').css('display') != 'none') {
                    jQuery('#bot_depart_select_dropdown').hide();
                }
            }
        });*/

        jQuery('.department-selector').on('mouseleave', function () {
            jQuery('#bot_depart_select_dropdown').slideUp(500);
            jQuery('.padded i').fadeOut(600);
        });

        var id;
        var departmentsJson = JSON.parse('<?php echo $jsonCollection; ?>');

        jQuery(document).on('click', '#select_bot_depart li', function (e) {
            id = jQuery(this).attr('data-id');
            var getData = Object.keys(departmentsJson).map(function (key) {
                return departmentsJson[key];
            });
            jQuery.each(getData, function (index, value) {
                if (value['id'] == id) {
                    document.getElementById('bot_inner_zero_department').innerHTML = value['name'];
                    jQuery('#bot_depart_phone').removeClass('department_phone_v1');
                    jQuery('#bot_depart_phone').addClass('department_phone_v2');
                    document.getElementById('bot_depart_phone').innerHTML = value['phone'];
                    jQuery('#bot_send_depart_mail').removeClass('department_mail_v1');
                    jQuery('#bot_send_depart_mail').addClass('department_mail_v2');
                    jQuery('#bot-zero-department').removeClass('bot-zero-department');
                    jQuery('#bot-zero-department').addClass('bot-zero-department_v2');
                    document.getElementById('bot_mail_depart_link').href = '<?php echo $baseUrl; ?>' + value['alias'];
                    jQuery('#bot_inner_zero_department').attr('title', '')
                }
            });
            jQuery('#bot_depart_select_dropdown').slideUp(500);
            jQuery('.padded i').fadeOut(600);
        });
    });
</script>

<?php ;?>
