<?php
$departmentsCollection = $this->getDepartmentsCollection();
$helper = Mage::helper('consol_departments');
$storeId = Mage::app()->getStore()->getStoreId();
$baseUrl = Mage::getBaseUrl().'contact/send/';
?>
<?php if($departmentsCollection->getSize()):?>
<div class="departments">
    <?php $firstDepartment = $departmentsCollection->getFirstItem();?>

    <?php $link = $baseUrl.$firstDepartment->getAlias();?>
    <div class="department-info">
        <div id="depart">
            <div id="depart_name"><?php echo $firstDepartment->getName();?></div>
            <div class="depart_phone_top">
                <div id="depart_phone" class="department_phone_v1"><?php echo $helper->__('+38-044-503-01-24')?></div>
            </div>
            <div class="send_depart_mail_top">
                <div id="send_depart_mail" class="department_mail_v1"><a id="mail_depart_link" href="#"><?php echo $helper->__('Написать сообщение');?></a></div>
            </div>
        </div>
    </div>
    <div class="department-selector">
        <div  data-id="0" id="zero-department">
            <i class="fa fa-angle-down dropdown-toggle"  aria-hidden="true"></i>
            <span id="inner_zero_department">
                <?php echo $helper->__('Выбрать отдел');?>
            </span>
        </div>
        <div class="select_depart_list" id="depart_select_dropdown">

            <ul id="select_depart">
                <i class="fa fa-sort-asc" aria-hidden="true"></i>
                <?php foreach ($departmentsCollection as $department):?>
                    <li class="depart_option" data-id="<?php echo $department->getEntityId();?>"><span><?php echo $department->getName();?></span></li>
                <?php endforeach;?>
            </ul>
        </div>
    </div>
</div>
<?php endif;?>
<?php $jsonCollection = $helper->getJsonDepartments();?>
<script>
    jQuery(document).ready(function(e) {
        if(jQuery('#mail_depart_link').attr('href') === '#') {
            jQuery('#zero-department').attr('title', '<?php echo $this->__('Для отправки сообщение выберите соответствующий отдел') ?>')
        }

        /*jQuery(document).click( function (event) {
            if(jQuery(event.target).closest( ".department-selector" ).length == '0'){
                if(jQuery('div#depart_select_dropdown').css('display') != 'none') {
                    jQuery('div#depart_select_dropdown').hide();
                }
            }
        });*/
        jQuery('.department-selector').on('mouseleave', function () {
            jQuery('#depart_select_dropdown').slideUp(500);
        })


    });
    var id;
    var departmentsJson = JSON.parse('<?php echo $jsonCollection; ?>');

    jQuery(document).on('click', '#select_depart li', function(e) {
        id = jQuery(this).attr('data-id');
        var getData = Object.keys(departmentsJson).map(function (key) { return departmentsJson[key]; });
        jQuery.each(getData, function(index, value) {
            if(value['id'] == id) {
                document.getElementById('inner_zero_department').innerHTML = value['name'];
                jQuery('#depart_phone').removeClass('department_phone_v1');
                jQuery('#depart_phone').addClass('department_phone_v2');
                document.getElementById('depart_phone').innerHTML = value['phone'];
                jQuery('#send_depart_mail').removeClass('department_mail_v1');
                jQuery('#send_depart_mail').addClass('department_mail_v2');
                document.getElementById('mail_depart_link').href = '<?php echo $baseUrl; ?>'+value['alias'];
                jQuery('#zero-department').attr('title', '')
            }
        });
        jQuery('#depart_select_dropdown').slideUp(500);
    });

</script>

<?php ;?>
