/*
* Name Extension: Cmsmart megamenu
* Author: The Cmsmart Development Team 
* Date Created: 06/09/2013
* Websites: http://cmsmart.net
* Technical Support: Forum - http://cmsmart.net/support
* GNU General Public License v3 (http://opensource.org/licenses/GPL-3.0)
* Copyright © 2011-2013 Cmsmart.net. All Rights Reserved.
*/

.nav-container,
.nav-container-mobile {  
  position: relative;  
  z-index: 4; 
  width: 100%;
  /*border-bottom: 7px solid #d4d4d4;*/
}
.nav-container:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
  height: 50px;
  background: url(../../../images/menu-bg.png) no-repeat center top;
  background-size: cover;
}

.nav-container-mobile {display: none; z-index: 9999}

.nav {    
    margin: 0 auto;
}
.nav .fa-sort-asc {
    position: absolute;
    color: #092370;
    top: 2px;
    left: 18px;
    font-size: 20px;
}
.top-menu-line{
    width: 203px;
    height:5px;
    background-color: #092370;
}
/*.nav .catalog-grid-full .grid-full .no-level-thumbnail {
    list-style: square;
    list-style-position: inside;
    padding-left: 20px;
    font-size: 8px;
}*/
.nav .catalog-grid-full .catalog-grid-dropdown {

}
.nav .grid-full {
    position: relative;
    z-index: 9;
    padding: 0px;
    padding-top: 10px;
    width: 1180px;
    min-height: 485px;
    overflow: hidden;
}
.nav .grid-full span {
    height: 5px;
}
.nav .grid-full .left-menu-two span {
    height: 60px;
    line-height: 60px;
    font-weight: 300;
}
.nav .grid-full .left-menu-two span:before {
    content: '';
    display: inline-block;
    position: relative;
    top: -5px;
    right: 19px;
    background-color: #f7f7f7;
    width: 2px;
    height: 2px;
}
.nav .grid-full ul li a {
    display: inline-block;
    float: none;
}
.nav .grid-full .no-level-thumbnail {
    width: 203px;
    background-color: #092370;
    color: white;
    height: 60px;
    line-height: 60px;
}
.nav .grid-full .nav1 {
    padding-top: 5px;
}
.nav .grid-full .haschildren {
    list-style: none;
}
.nav .grid-full .no-level-thumbnail:before {
    content: '';
    display: inline-block;
    position: relative;
    background-image: url(../../../images/consol/icon1.png);
    color: white;
    background-repeat: no-repeat;
    font-size: 14px;
    height: 2px;
    width: 2px;
    list-style: none;
    margin-left: 23px;
    margin-bottom: 4px;
}
.nav .grid-full .no-level-thumbnail:hover {
    background-color: #fcc000;
    color: #092370;
}
.nav .grid-full .no-level-thumbnail:hover > a > span {
    text-decoration: underline;
}
.nav .grid-full .no-level-thumbnail:hover:before {
    content: '';
    display: inline-block;
    position: relative;
    background-image: url(../../../images/consol/icon2.png);
    color: white;
    background-repeat: no-repeat;
    font-size: 14px;
    height: 2px;
    width: 2px;
    list-style: none;
    margin-left: 23px;
    margin-bottom: 4px;
}

.nav .grid-full .haschildren:before {
    content: '';
    display: inline-block;
    position: relative;
    background-image: url(../../../images/consol/icon-catalog-ar.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-size: 14px;
    height: 10px;
    width: 6px;
    list-style: none;
    margin-left: 21px;
    margin-bottom: 0;
}
.nav .grid-full .haschildren:hover:before {
    content: '';
    display: inline-block;
    position: relative;
    background-image: url(../../../images/consol/icon-catalog-ar2.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-size: 14px;
    height: 10px;
    width: 6px;
    list-style: none;
    margin-left: 20px;
    margin-bottom: 0;
}
.nav .grid-full .no-level-thumbnail:hover a {
    color: #092370;
}
.nav .grid-full .over {
    border-right: none!important;
}
.grid-full .grid-full-home-link {}
.grid-full .grid-full-home-link span {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.grid-full li {
    /*float: left;*/
}
.grid-full li a .thumbnail{
    border: 0;
    border-radius: 0;
    display: block;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
.grid-full > li > a {
  text-decoration: none;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
}
/*
.nav .grid-full > li.parent > a > span:after { 
  content: "\f107";
  display: inline-block; 
  font-size:15px; 
  color: #73d5c9; 
  border-radius: 20px;
  line-height: 20px;
  vertical-align: middle;
  position: absolute;
  right: 0px;
  top: 40%;
}*/
.grid-full > li > a .thumbnail {display: none;}
/*
.grid-full > li > a:before {
  bottom: -7px;
  width: 100%;
  height: 0px;
  background: url(../../../images/marker-menu.png) no-repeat center top;
}
.grid-full > li > a:after {
  background: #73d5c9;
  width: 0;
  left: 50%;
  height: 4px;
  bottom: auto;
  top: -4px;
}*/

.grid-full li a span {  display: block;}
.grid-full > li > a > span {
  cursor: pointer;
  white-space: normal;
  position: relative;
  z-index: 2;
}
/* .grid-full > li > a > em {
    position: absolute;
    top: 21px;
    left: 15px;
    font-style: normal;
    display: inline-block;
    z-index: 3;
    transform: scale(2,2); 
    -o-transform: scale(2,2); 
    -moz-transform: scale(2,2); 
    -webkit-transform: scale(2,2); 
    opacity: 0;
}*/


.grid-full > li > .level-top {
    right: 0;
    top: 0;
    width: 0;
    max-width: 976px;
    position: absolute;
    z-index: -99999;
    border: none;
    display: none;
    height: 100%!important;
    padding-left: 10px;
    padding-top: 15px;
    animation-name: catalog-animate;
    animation-duration: 0.7s;
}
@keyframes catalog-animate {
    0%   { left: -600px; top: 0px;}
    100% { left: 200px; top: 0px;}
}
.grid-full > li > .level-top .level.column5 {
  background:url(../../../images/bkg-sub.png) no-repeat left bottom #fff;
}
.grid-full li:hover  > .level-top {
    display: block;
    z-index: -1;
    width: 100%;
}
.over .shown-sub {
    display: block !important;
}
.shown-sub:hover .top-cart-container .container .header-middle .left-catalog .container .grid-full .no-level-thumbnail a {
    background-color: #fdea99;
    color: white;
}
.grid-full ul ul {
    position: static !important;
    width: 100%;
}
.nav .grid-full ul.level2{
    margin: 0px;
}
.grid-full ul span,
.grid-full ul li.last li span{
    padding:0px;
}

.grid-full div.level-top ul.level{
    padding: 0;
    top: 0px;
    width: 100% !important;
}
.grid-full .parent div.level-top > ul.level .level > .catagory_children {
    width: 100% !important;
    height: 100%!important;
}

.grid-full div.level-top ul.level ul.level{
    width: 100%;
    margin: 0px;
    padding: 0;
    height:  auto;
}
.grid-full ul ul, .grid-full ul div {
    position: relative;
    top: 0;
}
.grid-full .level1 .catagory-level1 {
    font-size: 17px;
    color: #73d5c9;
    margin-bottom: 12px;
    font-weight: normal;

}
/*
.grid-full .level1 .catagory-level1:hover,
.grid-full .level1.active .catagory-level1 {
    color: #fff;
}*/
.grid-full .level1.menu-product{
    padding-top: 10px;
}
.grid-full ul .level1.menu-product img {
    float: left;
    width: 90px;
    padding: 10px;
    height: auto;
    margin-right: 10px;
    box-shadow: 0 1px 5px hsla(0, 0%, 0%, 0.3);
}
.grid-full ul .level1.menu-product .levelproduct{
    float: left;
}
.grid-full ul .level1.menu-product .levelproduct.fast{
    margin-left: 0px;
}
.grid-full ul .level1.menu-product .availability{
    margin-left: -55px;
    margin-top: 10px;
}
.grid-full ul.menu-product li.level2 a{
    display: block;
     float: left;
}
.grid-full ul.menu-product li.level2 a .product-name{
    line-height: 15px;
    color: hsl(0, 0%, 0%);
    text-shadow: 0 0 0 hsl(0, 86%, 58%);
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
   	padding: 0px !important;
}
.grid-full ul.menu-product li.level2 div.rating-box{
    float: left;
    left: -141px;
    margin-right: 88px;
    margin-top: 5px;
    position: static;
    width: 55px;
}
.nav-container .grid-full > li > a {}
.grid-full .level a span{}

.grid-full .level.over a:before,
.grid-full .level.active a:before,
.grid-full .level.over a:after,
.grid-full .level.active a:after { 
    width: 100%; 
    left: 0;
} 
.ps-static .grid-full .level.over a:before,
.grid-full .level.active a:before {
   height: 12px;
}

.grid-full .level.over > a span,
.grid-full .level.over > a:hover span,
.grid-full .level.active > a span { 


}
.grid-full .level.over > a em,
.grid-full .level.active > a em { 
 
} 

.grid-full .grid-full-home-link:hover .level-top a, 
.grid-full .level.over .level-top a,  
.grid-full .level.active .level-top a{
    background: none;
    overflow: visible;
    font-weight: 100;
}

.grid-full .level.over .menu-product a, 
.grid-full .level.over .catagory_children span,  
.grid-full .level.over p a span,
.grid-full .level.over p a {
    background: none;
}

.nav .grid-full > li > a > span, 
.grid-full .level.over .catagory_children a span, 
.grid-full .level.over .catagory_children a,
.grid-full ul .level1.menu-product button a span {
    display: inline-block;
    background: none;
    margin: 0 auto;
}
.grid-full > li > a > span.spanchildren,
.grid-full > li.over > a > span.spanchildren,
.nav .grid-full > li.nav-3 > a > span.spanchildren {
 /*   float: right;
    height: 10px;
    margin-right: 15px;
    margin-top: -27px;
    padding: 0 !important;
    width: 10px;
    background: url("../../../images/cmsmart/megamenu/arrow_switch.png") no-repeat scroll right center transparent; */
    display: none;
}
.grid-full ul .level1.menu-product .price-box{
    float: left;
    margin: 10px 0;
}    
.grid-full ul .level1.menu-product .price-box .old-price .price{
    padding: 0px;
    margin-right: 10px;
}
.grid-full ul .level1.menu-product .price-box .special-price .price{
    margin-top: -1px;
    float: left;
}
.grid-full .catagory_children {

}
.grid-full .catagory_children:after {
  content: "";
  display: table;
  clear: both;
}
.grid-full .catagory_children .level1{
  margin-right: 2%;
  float: left;    
  background: none;
}
.grid-full .catagory_children .first {
    max-width: 483px;

}
.grid-full .catagory_children .last {
    max-width: 483px;
}
.grid-full .column1 .catagory_children .level1 {
    width: 51% !important;
    margin: 0;
    height: 100%;
    text-align: center;
}
.grid-full .column1 .catagory_children .level1:hover {
    background-color: #fcc000!important;
}
.grid-full .catagory_children .level1 span{
	padding: 0px !important;
    text-shadow: none;
    position: relative;
}
.grid-full .static-block-right{
	float: right;
}
.grid-full .catagory_children .level1 .level-top{
	width: 100%;
	background: none;
	box-shadow: none;
	padding: 0px;
    left: 0px;
    position: static !important;
}
.grid-full .catagory_children .level-top .level1{
	margin: 0px;
   
}
.grid-full .catagory_children .level-top .static-block {
    margin-top: 5px;
}
.grid-full .catagory_children .catagory_children li.level2 {
    width: 100%;
    margin:0 0 12px;
    position: relative;
}

.grid-full .catagory_children .catagory_children li a span,
.nav .grid-full li.first ul li.nav-1-1 .catagory_children span {
    text-transform: none !important;
    text-shadow: none;
    float: left;
}
.grid-full .level1 .level2 img{
   margin-right: 5px;
}
.grid-full .menu-product1 a{
    float: left;   
}
.grid-full .menu-product1 .level2 span {
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    text-transform: none !important;
}
 
.grid-full .menu-product1 a span.product-name{
    color: #333;
    margin-top: 5px;
}
.grid-full ul li .price-box{
    margin-left: 29px;
    margin-top: -13px;
    position: static;
    top: -20px;
    width: 140px;
}
.grid-full ul li .price-box p{
    float: left;
    font-size: 12px;
}
.grid-full ul li.levelproduct .price-box .special-price span {
    float: left;
    margin-left: 5px;
    font-size: 12px;
}
.grid-full .catagory_children .level-top .level1.menu-product1{
    float: left;
    width: 100%;
}
.grid-full .catagory_children .catagory_children li.level2.last{
    margin-bottom: 0px;
    border-bottom: 0px solid red;
}
.grid-full .catagory_children .catagory_children li.level2.no-level-thumbnail{}
.grid-full .catagory_children .catagory_children li.level2.no-level-thumbnail .thumbnail,
.grid-full .catagory_children .catagory_children li.level4.no-level-thumbnail .thumbnail{
    /* background: url("../../../images/cmsmart/megamenu/no-thumbnail.png") no-repeat scroll 5px center transparent;
    float: left;
    height: 28px;
    width: 15px; */
    display: none;
}

.grid-full .level1 .catagory_children{
    position: static;
    width: 100%;
}
.grid-full .level-top .level2.column2{
    background: #ffffff;
    float: left;
    margin-left: 135px;
    margin-top:0px;
    position: absolute !important;
    z-index: 9999999;
    width: 756px;
    border: 1px solid #dce1e6;
    display: none;
    left: 0;
}

/*.grid-full .level-top ul, .grid-full .level-top div{
    left: 0px;
}*/
.grid-full .level-top ul, .grid-full .level-top .static-block-left {
    height: 100%!important;
    margin: 0!important;
    padding: 0!important;
    width: 100%!important;
}
.grid-full .level-top ul, .grid-full .level-top .menu-three-blocks {
    display: flex;
    height: 100%!important;
    width: 100%!important;
    background-color: #1346db;
}
.left-menu-three img {
    width: auto;
    max-width: 245px!important;
    height: auto;
    max-height: 232px;
}
.center-menu-three img {
    width: auto;
    max-width: 245px!important;
    height: auto;
    max-height: 232px;
}
.right-menu-three img {
    width: auto;
    max-width: 245px!important;
    height: auto;
    max-height: 232px;
}
.left-menu-three span {
    color: #f7f7f7!important;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    padding-left: 42px!important;
    height: 60px;
    line-height: 60px;
    text-align: left;
}
.left-menu-three span:before {
    content: '';
    display: inline-block;
    position: relative;
    bottom: 4px;
    right: 19px;
    background-color: #f7f7f7;
    width: 2px;
    height: 2px;
}
.center-menu-three span {
    color: #f7f7f7!important;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    padding-left: 42px!important;
    height: 60px;
    line-height: 60px;
    text-align: left;
}
.center-menu-three span:before {
    content: '';
    display: inline-block;
    position: relative;
    bottom: 4px;
    right: 19px;
    background-color: #f7f7f7;
    width: 2px;
    height: 2px;
}
.right-menu-three span {
    color: #f7f7f7!important;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    padding-left: 42px!important;
    height: 60px;
    line-height: 60px;
    text-align: left;
}
.right-menu-three span:before {
    content: '';
    display: inline-block;
    position: relative;
    bottom: 4px;
    right: 19px;
    background-color: #f7f7f7;
    width: 2px;
    height: 2px;
}
.grid-full .level-top ul, .grid-full .level-top .menu-three-blocks .left-menu-three {
    width: 33%;
    text-align: center;
}
.grid-full .level-top ul, .grid-full .level-top .menu-three-blocks .left-menu-three:hover {
    background-color: #fcc000;
}
.grid-full .level-top ul, .grid-full .level-top .menu-three-blocks .left-menu-three span {
    font-size: 16px;
    height: 60px;
    line-height: 60px;
}
.grid-full .level-top ul, .grid-full .level-top .menu-three-blocks .left-menu-three:hover span {
    background-color: #fcc000!important;
    color: #092370!important;
    text-decoration: underline;!important;
}
.grid-full .level-top ul, .grid-full .level-top .menu-three-blocks .left-menu-three:hover span:before {
    background-color: #092370;
}
.grid-full .level-top ul, .grid-full .level-top .menu-three-blocks .center-menu-three {
    width: 34%;
    text-align: center;
}
.grid-full .level-top ul, .grid-full .level-top .menu-three-blocks .center-menu-three:hover {
    background-color: #fcc000;
}
.grid-full .level-top ul, .grid-full .level-top .menu-three-blocks .center-menu-three:hover span {
    background-color: #fcc000!important;
    color: #092370!important;
    text-decoration: underline;
}
.grid-full .level-top ul, .grid-full .level-top .menu-three-blocks .center-menu-three:hover span:before {
    background-color: #092370;
}
.grid-full .level-top ul, .grid-full .level-top .menu-three-blocks .right-menu-three {
    width: 319px;
    text-align: center;
}
.grid-full .level-top ul, .grid-full .level-top .menu-three-blocks .right-menu-three:hover {
    background-color: #fcc000;
}
.grid-full .level-top ul, .grid-full .level-top .menu-three-blocks .right-menu-three:hover span {
    background-color: #fcc000!important;
    color: #092370!important;
    text-decoration: underline;
}
.grid-full .level-top ul, .grid-full .level-top .menu-three-blocks .right-menu-three:hover span:before {
    background-color: #092370;
}
.grid-full .level-top .catagory_children .level2.column1{
    background: #ffffff;
    float: left;
    margin: 0;
    position: absolute !important;
    z-index: 9999999;
}
.grid-full .level-top ul, .grid-full .level-top div .right-menu-two {
    width: 50%;
    padding-right: 50px;
    background-color: #092370;
}
.grid-full .level-top ul, .grid-full .level-top .menu-two-blocks {
    display: flex;
    height: 100%!important;
    width: 100%!important;
    background-color: #1346db;
}
.grid-full .level-top ul, .grid-full .level-top .menu-two-blocks:hover .right-menu-two {
    background-color: #fcc000!important;
}
.grid-full .level-top ul, .grid-full .level-top .menu-two-blocks:hover span {
    text-decoration: underline;
}
.grid-full .level-top ul, .grid-full .level-top .menu-two-blocks:hover a {
    color: #092370!important;
}/*
.grid-full .level-top ul, .grid-full .level-top .menu-two-blocks a {
    color: #092370!important;
}
.grid-full .level-top ul, .grid-full .level-top .menu-two-blocks a:hover {
    text-decoration: underline;
}*/
.left-menu-two img {
    max-width: 260px;
    height: auto;
    width: auto;
    max-height: 350px;
    padding-top: 121px;
}
.grid-full .level-top ul, .grid-full .level-top div .left-menu-two {
    margin: 0;
    height: 100%;
    text-align: center;
    width: 50%;
}
.left-menu-two span {
    color: #f7f7f7!important;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    padding-left: 42px!important;
    height: 60px;
    line-height: 60px;
    text-align: left;
}
.grid-full .level-top ul, .grid-full .level-top div .right-menu-two {
    width: 50%;
    padding-right: 50px;
}
.grid-full .level-top ul, .grid-full .level-top div .right-menu-two ul {
    color: #f7f7f7!important;
    display: block;
}
.grid-full .level-top ul, .grid-full .level-top div .right-menu-two ul li a {
    color: #f7f7f7!important;
}
.grid-full .level-top div .right-menu-two .two-blocks-list  {
    display: inline-block;
    width: 100%;
    padding-top: 94px!important;
}
.grid-full .level-top div .right-menu-two .two-blocks-list  {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}
.grid-full .level-top ul, .grid-full .level-top div .right-menu-two .two-blocks-list li {
    background: none!important;
}
.grid-full .catagory_children li.level3 .level4{
    left: 0px;
    margin-left: 0px;
}
.grid-full .level-top .level3 .catagory_children{
    margin-left: 0;
    margin-top: 0;
    position: relative !important;
}
.grid-full .catagory_children .level3 .level-top .level3{
    position: relative !important;
}
.grid-full .catagory_children .catagory_children li.level2:hover > a,
.grid-full .catagory_children .catagory_children li.level2.active > a {
    color: #fff;
    background: #73d5c9;
    position: relative;
    text-decoration: none !important;
    width: 100%;
    z-index: 999999999;
}
.grid-full .catagory_children .catagory_children li.level2 a{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    display: block;
    line-height: 20px;
    margin: 0 0 0 -10px;
    padding: 4px 5px 4px 10px;
    position: relative;
    width: 100%;
}
.grid-full .catagory_children .catagory_children li.level2 a:after {
    content: "";
    display: table;
    clear: both;
}
.grid-full .catagory_children .catagory_children li.level2.parent:hover li a{
     box-shadow: none;
     width: auto;
}

.grid-full .catagory_children li.level3{
    float: left;
    width: 100%;
}
.grid-full .level2 .catagory_children.column1 {
    background: #333232;
     box-shadow: 0 0 21px rgba(0,0,0,0.18);
    -moz-box-shadow: 0 0 21px rgba(0,0,0,0.18);
    -webkit-box-shadow:0 0 21px rgba(0,0,0,0.18);
    padding: 20px;
    display: none;
    margin-top: -20px;
}
.grid-full .level2:hover .catagory_children.column1 {
    display: block;
}
.grid-full .level2 .catagory_children.column1
.grid-full .catagory_children.column1 li.level3 a{
     margin: 0;
}
.grid-full .catagory_children li.level3.level-top{
    float: left;
}
.grid-full .catagory_children.column1 li.level3 a:hover,
.grid-full .catagory_children.column1 li.level3.active a {
    background: #73d5c9;
    color: #fff;
}
.grid-full .level2 .static-block-left{
    float: left;
}
.grid-full .level2 .catagory_children.column2{
    float: left;
    width: 320px;
}
.grid-full .level2 .catagory_children.column2.catagory_children{
    border: none;
    margin-top: 20px;
}
.grid-full .level2 .catagory_children.column2 ul.level3 .catagory_children{
    margin-top: -20px;   
    border: none; 
 }
.grid-full .level2 .catagory_children.column2 .level3{
    float: left;
    margin-right: 10px;
    border: none;
    margin: 0;
}
.grid-full .level-top .level2 .level4 .menu-content{
    display:  none;
}
.grid-full .level2 .catagory_children .level3 { margin-bottom: 10px;}
.grid-full .level2 .catagory_children .level3:last-child {margin-bottom: 0;}
.grid-full .level2 .catagory_children .level3 a,
.grid-full .catagory_children .catagory_children li.level2:hover .level3 a{
}
.grid-full .catagory_children .catagory_children li.level2 .level4 a,
.grid-full .catagory_children .catagory_children li.level2:hover .level4 a{
    border: none;
    margin: 0px;
    padding: 0px;
}
.grid-full .level2 .catagory_children .level3 .catagory_children {
    float: left;
    width: 100%;
}
.grid-full .catagory_children .catagory_children li.level4.no-level-thumbnail{
    height: 30px;
    margin: 0;
    width: 100%;
    border-bottom: 1px dotted #dce1e6;
  
}
.grid-full .level .catagory_children .level2 .catagory_children li.level3 a span, 
.nav .grid-full .level .catagory_children .level2 li.first ul li.level3.nav-1-1 .catagory_children span {
   
}
.grid-full .level .catagory_children .level2 .catagory_children li.level4 a span, 
.nav .grid-full .level .catagory_children .level2 li.first ul li.level4.nav-1-1 .catagory_children span {
     text-transform: none !important;
}
.grid-full .level2:hover .level-top .level2.column2,
.grid-full .level2:hover .level-top .level2.column1,
.grid-full .level2.active .level-top .level2.column1 {
    display: block;
    left: auto;
    right: -100%;
}
.grid-full .old-price .price{
    color: #999;
}
.grid-full .catagory_children .catagory_children li.level2:hover .level3 a{
    border: none;
}
.grid-full .catagory_children .catagory_children.leftchildren{
    border-bottom: 0 none;
    float: left;
    margin: 0;
}
.grid-full .static-block p{
    line-height: 23px;
}
.grid-full .catagory_children .level-top .static-block p a span{
    text-transform: none !important;
} 

.grid-full .btn-carthover2 span span{
    color: hsl(0, 100%, 73%);
    height: 25px;
    margin-left: 20px;
    padding: 0 !important;
}
.grid-full ul.add-to-links li{
    width: 85px;
    float: left;
}
.grid-full .level a.link-wishlist, 
.grid-full .level:hover a.link-wishlist, 
.grid-full a.link-wishlist, 
.grid-full .level-top:hover a.link-wishlist  {
  background: url(../../../images/cmsmart/megamenu/wl_1.png) no-repeat scroll 0 1px;
  display: block;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  height: 35px;
  overflow: hidden;
  margin: 0px;
  padding-left: 20px;
  line-height: 18px;
}
.grid-full .add-to-links li:hover a.link-wishlist:hover{
    background: url(../../../images/cmsmart/megamenu/wl.png) no-repeat scroll 0 1px;
}
.grid-full .level a.link-compare,
.grid-full .level:hover a.link-compare,
.grid-full a.link-compare,  
.grid-full .level-top:hover  a.link-compare {
  display: block;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  height: 35px;
  overflow: hidden;
  background: url(../../../images/cmsmart/megamenu/cp_1.png) no-repeat scroll 0 1px;
  margin-top: 0px;
  padding-left: 20px;
  line-height: 35px;
}
.grid-full .add-to-links li:hover a.link-compare:hover{
    background: url(../../../images/cmsmart/megamenu/cp.png) no-repeat scroll 0 1px;
    }
.grid-full .level-top:hover button span ,.grid-full .level-top:hover .add-to-links span{
    background: none;
}

.grid-full ul.add-to-links{
    float: left;
    position: inherit !important;
    width: 100%;
    margin-top: -10px;
}
.grid-full .level1.menu-product-one .level2 img{
    margin-top: 5px;
    width: 100%;
}
.grid-full .level1.menu-product-one .price-box {
    float: left;
    text-align: center;
    width: 100%;
}
.grid-full .level1.menu-product-one .price-box p.old-price{
    margin-left: 25px;
    margin-right: 30px;
    margin-top: 4px;
}
.grid-full .level1.menu-product-one .price-box p.special-price{
     margin-top: 2px;
    }
.grid-full .level1.menu-product-one .price-box p span{
    font-size: 14px;
}
.grid-full .level1.menu-product-one div.rating-box
{
    position: static !important;
    top: 50px;
    width: 55px;
}
.grid-full .level1.menu-product-one li a{
    float: left;
    text-align: center;
    width: 100%;
}
.grid-full > .grid-full-home-link a span {
    background: none repeat scroll 0 0 transparent;
}
.grid-full .level1.menu-product-one ul.add-to-links{
    margin-top: 5px;
    border-top: 1px solid #dedede;
    padding-top: 5px;
}
.grid-full .level1.menu-product-one ul.add-to-links li
{
    width: 45%;
    float: left;    
    white-space: normal;
}
.grid-full .level1.menu-product-one ul.add-to-links span
{
    float: left;
}
.grid-full .level1.menu-product-one ul.add-to-links li a{
    height: auto;
    line-height: 20px;
    text-align: left;
    white-space: normal;
    width: auto;
}
.grid-full .catagory_children .catagory_children li:hover a span{

}
.grid-full .catagory_children .catagory_children li:hover .catagory_children a span{
    text-decoration: none;
}
.grid-full .catagory_children .catagory_children li:hover .catagory_children .catagory_children li:hover a span, 
.grid-full .catagory_children .catagory_children li.active a span,
.grid-full .catagory_children .catagory_children  .catagory_children li.level4.active a span {
     
}
.grid-full .level2 .catagory_children.column2 .level3 div{
    float: left;
}
.grid-full .pin-bottom:before {
    border-color: transparent;
    border-style: solid;
    border-width: 4px;
    content: "";
    height: 0;
    position: absolute;
    right: 10px;
    top: 22px;
    transition: border-color 0ms ease-in-out 0s;
    width: 0;
}
.fixed .grid-full .level span.cat-label {top: 2px;}
.grid-full .level span.cat-label {
    background: #73d5c9;
    border: medium none;
    color: #FFF;
    float: left;
    font-weight: normal;
    font-size: 11px;
    line-height: 12px;
    padding: 5px !important;
    position: absolute;
    top: -5px;
}
.grid-full .level1 span.cat-label {
    background: red;
    color: #FFF;
    float: none;
    font-weight: normal !important;
    line-height: 12px !important;
    padding: 5px !important;
    position: absolute;
    right: -7px;
    text-transform: lowercase !important;
    top: -25px;
}
.grid-full .level1 .pin-bottom:before{
    top: 22px;
}

.grid-full .level:hover .level1 span.cat-label {
    background: red;
    color: #000;
    
}
.grid-full .level:hover span.cat-label, 
.grid-full .level:hover .level1:hover span.cat-label,
.grid-full .catagory_children .level1:hover .catagory_children .level2:hover span.cat-label {
    background: #333;
    color: #fff;
    text-shadow: 0px 0px #FFF;
}
   
.grid-full li.level > a > span > .cat-label.pin-bottom:before,
.grid-full li.level1 > a > span > .cat-label.pin-bottom:before,
.grid-full li.level.over li.level2 > a > span > .cat-label.pin-bottom:before,
.grid-full .catagory_children .level1 .catagory_children  .level2 .pin-bottom:before {
    border-top-color: #73d5c9;
    }
.grid-full li.level.over > a > span > .cat-label.pin-bottom:before,
.grid-full li.level1.over > a > span > .cat-label.pin-bottom:before,
.grid-full li.level.over li.level1.over li.level2.over .cat-label.pin-bottom:before,
.grid-full .level:hover .level1:hover .pin-bottom:before,
.grid-full .catagory_children .level1:hover .catagory_children .level2:hover .pin-bottom:before {
    border-top-color: #333;
}
.grid-full .level:hover .level1:hover .level2 span.cat-label{
    background: red;
}

.grid-full .catagory_children .level1 .catagory_children  .level2 span.cat-label{
    line-height: 15px;
    right: -10px;
    top: -15px;
}
.grid-full .catagory_children .level1 .catagory_children  .level2 .pin-bottom:before{
    left: 15px;
    top: 22px;
}
.grid-full ul li, .grid-full ul li.active,.grid-full ul li.last{
    background: none;
}
.grid-full .menu-product1 li{
    float: left;
    width: 100%;
}
.grid-full .old-price .price-label,.grid-full .special-price .price-label {
    display: none;
}
.grid-full .special-price{
    padding: 0px;
}
/*
.grid-full ul.level div{
     position: static;
}
*/
.grid-full .btn-carthover2 span span {
    color: hsl(0, 100%, 73%);
    height: 14px;
    padding: 0 !important;
}
.grid-full .btn-carthover2 {
    background: url("../../../images/cmsmart/megamenu/icon_cart_hover.png") no-repeat scroll 0 0 transparent;
    height: 25px;
    margin-top: 0px;
}
.grid-full .menu-product ul.add-to-links{
    display: block;
    margin-left: -2px;
    margin-top: 10px;
    position: relative !important;
    width: 185px;
}
.grid-full .menu-product ul.add-to-links .separator{
    float: left;
}
.grid-full .menu-product a.link-compare, 
.grid-full .menu-product a.link-compare, 
.grid-full .level-top:hover .menu-product  a.link-compare {

  line-height: 20px;
}
.nav .grid-full ul.menu-product1 li .price-box{
     margin-left: 28px;
}
.nav .grid-full li.first ul li.nav-1-1 span{
     line-height: inherit;
}
.nav .grid-full ul.menu-product1.menu-product-one .price-box{
    margin-left: 0;
    margin-top: 5px;
    text-align: center;
}
.nav .grid-full ul ul.menu-product1 li{
    line-height: 20px;
    margin-bottom:  25px;
}
.grid-full .add-to-links .separator {
    display: block;
    float: left;
}
.nav .grid-full li.first ul li.nav-1-1 .levelproducttow span,
.nav .grid-full li.first ul li.nav-1-1 .menu-product1 span
{
    line-height: normal;
}
.grid-full .level .menu-product-one a.link-compare{
    margin-left: 25px;
}
.grid-full .catagory_children .catagory_children li.level4.last.no-level-thumbnail{
    border:  none;
}
.nav li.level.nav-home-link .level-top{
	box-shadow: none;
}

.menu-banner {padding: 0 30px 30px 10px; clear: both; }
.menu-banner:after {
    content: "";
    clear: both;
    display: table;
}
.menu-banner span {display: inline-block; width: 33.33333%; float: left; padding-left: 20px !important;}
.menu-banner span a {display: block;}
.menu-banner span a:hover {opacity: 0.8;}
.menu-banner span img {width: 100%;}

.menu-box-right {}
.menu-box-title {font-size: 16px; line-height: 20px; margin-bottom: 20px;}

.menu-content-1 {padding:25px;  float: left;  }
.menu-content-1:after {
  content: "";
  display: table;
  clear: both;
}
.menu-content-1 a {display: block !important;}
.menu-content-1 a:hover {opacity: 0.8;}
.menu-content-1  img {max-width: 100%;}
.col-left-1 {float: left; width: 50%; margin-right:1%; color: #fff;}
.col-left-1 .title-menu {
  font-size: 27px;
  line-height: 27px;
  margin-bottom: 13px;
  text-transform: uppercase;
}
.col-left-1 p {
  margin-bottom: 20px;
}
.menu-content-1 .f-left {width: 49%;}
#mw-mega-menu-dropdown_4 .mw-center,
#mw-mega-menu-dropdown_3 .mw-center {display: none;}
#mw-mega-menu-dropdown_3 li .sub-container,
#mw-mega-menu-dropdown_4 li .sub-container {background: #fff;}
.menu-content-2 { margin: 0 -15px 0 -15px; padding:25px; float: left;}
.menu-content-2:after {
  content: "";
  display: table;
  clear: both;
}
.menu-content-2 .col_1 {float: left; width: 25%; padding: 0 15px; line-height: 21px; color: #fff;}
.menu-content-2 .col_1 .title-menu {
  font-size: 21px;
  line-height: 22px;
  margin-bottom: 13px;
  text-transform: uppercase;
}
.menu-content-2 .col_1 .title-menu a {
   color: #fff;
}
.menu-content-2 .col_1 .title-menu a:hover {
  color: #73d5c9;
}
.menu-content-2 a.link-img {
  margin-bottom: 20px;
  display: block !important;
  position: relative;
}
.menu-content-2 .link-img img {max-width: 100%;}
.menu-content-2 .link-img:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100% !important;
  opacity: 0;
  border: 10px solid #000;
}
.menu-content-2 .link-img:hover:before {
  opacity: 0.26;
}


/*
.grid-full > li > a:before,
.grid-full > li > a:after,
.grid-full > li > a > span,
.grid-full > li > a > em,
.grid-full .level > a em,
.grid-full .level > a em,
.grid-full a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

}

@media only screen and (min-width: 992px) and (max-width: 1199px) { 
    .nav,
    .catagory_children {width: auto !important;}
    .grid-full > li > a {font-size: 14px;}

    .col-left-1 .title-menu {font-size: 18px; line-height: 20px; margin-bottom: 5px;}
    .col-left-1 p {margin-bottom: 15px;}
}
*/
.sf-js-enabled {display: none;}
@media only screen and (max-width: 768px) {
   .nav-container {display: none;}
   .nav-container-mobile {
    display: block; 
    margin-left: -16px;
     margin-right: -16px; 
     padding-left: 16px; 
     padding-right: 16px; 
     width: auto;
     /*border-bottom: 6px solid #000;*/
   }
}
.catagory_children_product {
    height: 50px;
    width: 100%;
    background-color: red;
    position: absolute;
    right: 0;
}

@media screen and (max-width: 1199px) {
    .grid-full > li > .level-top {
        width: 100%;
        padding-top: 10px!important;
    }
    .grid-full .column1 .catagory_children .first {
        width: 50% !important;
    }
    .grid-full .column1 .catagory_children .last {
        width: 50% !important;
    }
    .level-top .level1 a span:after {
        left: 260px;
    }
    .nav .grid-full {
        width: 970px;
    }
    .grid-full > li > .level-top {
        width: 100%;
        max-width: 766px;
    }
    .grid-full .level-top ul, .grid-full .level-top .menu-three-blocks .right-menu-three {
        width: 252px;
        text-align: center;
    }
    .left-menu-three span:before {
        content: '';
        display: inline-block;
        position: relative;
        bottom: -8px;
        right: 16px;
        background-color: #f7f7f7;
        width: 2px;
        height: 2px;
    }
    .center-menu-three span:before {
        content: '';
        display: inline-block;
        position: relative;
        bottom: -8px;
        right: 16px;
        background-color: #f7f7f7;
        width: 2px;
        height: 2px;
    }
    .right-menu-three span:before {
        content: '';
        display: inline-block;
        position: relative;
        bottom: -8px;
        right: 16px;
        background-color: #f7f7f7;
        width: 2px;
        height: 2px;
    }

}
@media screen and (max-width: 991px) {
    .grid-full > li > .level-top {
        width: 74%;
        padding-left: 26px;
    }
    .level-top .level1 a span:after {
        left: 212px;
    }
    .nav .grid-full {
        width: 718px;
    }
    .grid-full .level-top ul, .grid-full .level-top .menu-three-blocks {
        display: inline-block;
    }
    .grid-full .level-top ul, .grid-full .level-top .menu-three-blocks .left-menu-three {
        width: 50%;
        height: 100%;
        float: left;
    }
    .grid-full .level-top ul, .grid-full .level-top .menu-three-blocks .center-menu-three {
        width: 50%;
        height: 50%;
        float: left;
    }
    .grid-full .level-top ul, .grid-full .level-top .menu-three-blocks .right-menu-three {
        width: 50%;
        height: 50%;
        float: left;
    }
    .left-menu-three img {
        max-width: 181px!important;
         width: 100%;
        height: auto;
    }
    .center-menu-three img {
        max-width: 155px!important;
        padding-top: 20px;
    }
    .right-menu-three img {
        max-width: 155px!important;
        padding-top: 20px;
    }
    .grid-full .level-top div .right-menu-two .two-blocks-list  {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        padding-top: 7px!important;
    }
    .grid-full .level-top div .right-menu-two {
        background-color: #092370!important;
        color: #f7f7f7;
        width: 50%;
        padding-right: 28px;
        padding-left: 28px;
    }
    .grid-full > li > .level-top {
        max-width: 515px;
        padding-left: 10px;
        animation-duration: 0.5s;

    }
    @keyframes catalog-animate {
        0%   { left: -600px; top: 0px;}
        100% { left: 200px; top: 0px;}
    }
    .left-menu-two img {
        width: auto;
        max-height: 300px;
    }
    .left-menu-three span:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 34px;
        left: 23px;
        background-color: #f7f7f7;
        width: 2px;
        height: 2px;
    }
    .center-menu-three span:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 34px;
        left: 23px;
        background-color: #f7f7f7;
        width: 2px;
        height: 2px;
    }
    .right-menu-three span:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 34px;
        left: 23px;
        background-color: #f7f7f7;
        width: 2px;
        height: 2px;
    }
}
@media screen and (max-width: 767px) {
    .nav .grid-full .no-level-thumbnail {
        width: 320px;
    }
    .top-menu-line {
        width: 320px;
    }
    .grid-full .parent div.level-top > ul.level .level > .catagory_children {
        height: auto!important;
    }
    .grid-full .column1 .catagory_children .level1 {
        height: auto!important;
    }
    .nav .grid-full {
        width: 320px;
        padding-top: 0;
        position: absolute;
        z-index: 5000
    }
    .nav .grid-full .no-level-thumbnail {
        height: auto;
        line-height: inherit;
    }
    .grid-full > li > .level-top {
        width: auto;
        position: relative;
        padding-left: 0px;
        padding-top: 0px!important;
        z-index: 1;!important;
    }
    .grid-full .column1 .catagory_children .first {
        width: 100%!important;
    }
    .grid-full .column1 .catagory_children .last {
        width: 100%!important;
    }
    .grid-full .catagory_children .level1 .level-top {
        display: none!important;
    }
    .nav .fa-sort-asc {
        display: none!important;
    }
    .nav .grid-full .no-level-thumbnail:hover {
        max-height: 60px;
    }
    .top-menu-line {
        height: 0px!important;
    }
    .left-menu-two img {
        display: none!important;
    }
    .grid-full .level-top div .left-menu-two {
        width: 100%;
        background-color: #1346db!important;
        color: #f7f7f7!important;
    }
    .grid-full .level-top div .left-menu-two:hover {
        width: 100%;
        background-color: #1346db!important;
        color: #f7f7f7!important;
    }
    .grid-full .level-top div .right-menu-two {
        width: 100%;
        background-color: #1346db!important;
        color: #f7f7f7!important;
    }
    .grid-full .level-top .menu-two-blocks {
        display: inline-block;
        background-color: #1346db!important;
    }
    .grid-full .level-top div .right-menu-two:hover .two-blocks-list a {
        color: #f7f7f7!important;
    }
    .grid-full .level-top div .right-menu-two .two-blocks-list {
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
        padding-top: 7px!important;
    }
    .left-menu-three img {
        display: none!important;
    }
    .center-menu-three img {
        display: none!important;
    }
    .right-menu-three img {
        display: none!important;
    }
    .grid-full .level-top .menu-three-blocks .left-menu-three {
        width: 100%;
    }
    .grid-full .level-top .menu-three-blocks .center-menu-three {
        width: 100%;
    }
    .grid-full .level-top .menu-three-blocks .right-menu-three {
        width: 100%;
    }
    .grid-full .level-top .menu-three-blocks {
        background-color: #1346db!important;
    }
    .left-menu-two span {
        padding-left: 0!important;
    }
    .left-menu-three span {
        padding-left: 0!important;
    }
    .center-menu-three span {
        padding-left: 0!important;
    }
    .right-menu-three span {
        padding-left: 0!important;
    }
    .left-menu-three span:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 88px;
        left: 23px;
        background-color: #f7f7f7;
        width: 2px;
        height: 2px;
    }
    .center-menu-three span:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 148px;
        left: 23px;
        background-color: #f7f7f7;
        width: 2px;
        height: 2px;
    }
    .right-menu-three span:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 208px;
        left: 23px;
        background-color: #f7f7f7;
        width: 2px;
        height: 2px;
    }
}
.two-blocks-list {
    color: white !important;
    display: block !important;
}
.two-blocks-list a:hover {
    text-decoration: underline;
}
