<?php $posts = $this->getRecent(); ?>
<?php if ($posts && $posts->getSize() > 0):?>

    <div class="widget-latest">
        <div class="page-title category-title center">
            <p><a href="<?php echo $this->getBlogUrl() ?>"><?php echo Mage::helper('blog')->__('Latest Posts');  ?></a></p>
        </div>
        <div id="news-rick" class="slide-rick flipster">
            <ul class="flip-items">
                <?php $counter = 0;?>
                <?php foreach ($posts as $post): ?>
                    <li class="flip-item item current_item"  data-flip-title="<?php echo $counter; ?>" id="<?php echo $counter; ?>">
                        <div class="wrapper-hover">
                            <div class="widget-latest-title"><a href="<?php echo $post->getAddress(); ?>" class="widget-latest-title-a" ><?php echo $post->getTitle(); ?></a></div>
                            <div class="postContent"><?php echo Mage::helper('cms')->getBlockTemplateProcessor()->filter($post->getShortContent()); ?></div>
                            <div class="widget-latest-details">
                                        <span class="widget-latest-bottom">
                                            <a class="noSwipe" href="<?php echo $post->getAddress(); ?>"class="aw-blog-read-more all-blog"><?php echo Mage::helper('blog')->__('Read more');  ?></a>
                                        </span>
                                <?php $_ct= new Zend_Date($post->getCreatedTime()); ?>
                                <span class="widget-latest-data"><?php echo $_ct->toString('MM.dd.yyyy'); ?></span>
                            </div>
                        </div>
                    </li>
                    <?php $counter++; ?>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
</div>


<script>
    var myFlipster = jQuery(".flipster").flipster({
        style: 'carousel',
        enableMousewheel: false,
        scrollwheel: false,
        start: 0,
        enableNavButtons: true,
        enableNav: true,
        prevText: '',
        nextText: '',
    });

    jQuery(document).ready(function () {
        var elem = jQuery('.flipster-nav');
        while(elem.find('.flip-nav-item').length > 4){
            elem.find('.flip-nav-item:last-child').remove();
        }
        jQuery('.flipto-prev').on('click', function () {
            if(!(jQuery('.flip-nav-item').find('a').hasClass('flip-nav-current'))){
                jQuery('.flipto-next').addClass('last-element-active')
            }else{
                jQuery('.flipto-next').removeClass('last-element-active')
            }
        });
        jQuery('.flipto-next').on('click', function () {
            if(!(jQuery('.flip-nav-item').find('a').hasClass('flip-nav-current'))){
                jQuery('.flipto-next').addClass('last-element-active')
            }else{
                jQuery('.flipto-next').removeClass('last-element-active')
            }
        });
    });
</script>

<?php endif; ?>
