.clearfix{*zoom: 1}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0}.clearfix:after{clear:both}.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.flipster .flipster-nav{display:block;height:0px;font-size:.0;margin:0;padding:0;text-align:justify;margin-bottom:0px;position:relative;list-style-type:none}.flipster .flipster-nav:after{content:'';display:inline-block;width:100%}.flipster .flipster-nav li{display:inline-block;font-size:15px;text-align:center;margin:0;padding:0;list-style-type:none}.flipster .flipster-nav .flip-nav-category,.flipster .flipster-nav .no-category{width:25%}.flipster .flipster-nav .flip-nav-category-link,.flipster .flipster-nav .flip-nav-item-link{display:block;-ms-transition:all 100ms ease;-webkit-transition:all 100ms ease;-moz-transition:all 100ms ease;-o-transition:all 100ms ease;transition:all 100ms ease}.flipster .flipster-nav .flip-nav-category-link,.flipster .flipster-nav .no-category .flip-nav-item-link{height:0px;line-height:0px;font-size:.8em}.flipster .flipster-nav .flip-nav-current .flip-nav-category-link,.flipster .flipster-nav .no-category .flip-nav-current.flip-nav-item-link{border-bottom:none;color:#000}.flipster .flipster-nav .flip-nav-category .flip-nav-items{display:none;position:absolute;top:27px;left:0;right:0;text-align:center;padding:10px 0;height:32px}.flipster .flipster-nav .flip-nav-category .flip-nav-items:after{content:'';display:inline-block;width:100%}.flipster .flipster-nav .flip-nav-category .flip-nav-items .flip-nav-item-link{padding:5px 15px;color:#da0d25;font-family:Helvetica;text-transform:uppercase;font-size:16px}.flipster .flipster-nav .flip-nav-category .flip-nav-items .flip-nav-item-link.flip-nav-current{background:#da0d25;color:#fff}.flipster .flipster-nav .flip-nav-category.flip-nav-current .flip-nav-items{display:block}.flipster .flipto-prev,.flipster .flipto-next{position:absolute;top:50%;z-index:999;display:block;padding:10px;margin-top:25px;-ms-transition:background-color 300ms ease;-webkit-transition:background-color 300ms ease;-moz-transition:background-color 300ms ease;-o-transition:background-color 300ms ease;transition:background-color 300ms ease}.flipster .flipto-prev{left:0}.flipster .flipto-next{right:0}


.flipster .flipto-prev {
    display: none;
}
.flipster .flipto-next {
    display: none;
}
.flipster .flipster-nav {
    display: none;
}
@media screen and (max-width: 767px) {
    .flipster .flipto-prev {
        display: block;
        width: 12px;
        height: 21px;
        background: none;
        background-image: url(../images/consol/icon-news-left-na.png);
        background-repeat: no-repeat;
        position: absolute;
        bottom: 399px;
        left: 20px;
        border: none;
        padding: 0;
        margin: 0;
        top: auto;
    }
    .flipster .flipto-prev:hover {
        background-image: url(../images/consol/icon-news-left-active.png);
    }
    .flipster .flipto-next {
        display: block;
        height: 21px;
        background: none;
        background-image: url(../images/consol/icon-news-right-na.png);
        background-repeat: no-repeat;
        background-position: 100% 0;
        position: absolute;
        right: 20px;
        border: none;
        bottom: 399px;
        border: none;
        padding: 0;
        margin: 0;
        top: auto;
        width: 193px;
    }
    .flipster .flipto-next:before {
        content: '';
        display: inline-block;
        position: relative;
        height: 4px;
        width: 170px;
        background-color: #092370;
        bottom: 1px;
        right: -1px;
    }
    .flipster .last-element-active:before {
        background-color: #fcc000;
    }
    .flipster .flipto-next:hover {
        background-image: url(../images/consol/icon-news-right-active.png);
    }
    .flipster .flipster-nav {
        display: block;
        background: no-repeat;
        border: none;
        padding: 0;
        margin: 0;
        position: absolute;
        bottom: 411px;
        left: 44px;
        height: 4px;
        line-height: 4px;
    }
    .flipster .flipster-nav .no-category .flip-nav-item-link {
        display: inline-block;
        padding: 0;
        margin-right: 8px !important;
        height: 4px;
        width: 8px;
        cursor: pointer;
        background: #092370;
    }
    .flipster .flipster-nav .no-category .flip-nav-item-link:hover {
        background-color: #fcc000;
    }
    .flipster .flipster-nav .no-category .flip-nav-current.flip-nav-item-link {
        border: none;
        background: #fcc000;
        color: #000;
    }
    .flipster .flipster-nav .flip-nav-category, .flipster .flipster-nav .no-category {
        width: 8px;
        height: 4px;
        margin-right: 8px;
    }

}