.flipster {
    display: block;
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    margin-bottom: 100px;
}

.flip-items,.flip-item {
    display: block;
    margin: 0 auto;
    padding: 0;
    list-style-type: none
}

.flip-items {
    width: 100%;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden
}

.flip-item {
    position: absolute;
}

.flip-past,.flip-future,.flip-next,.flip-prev {
    cursor: pointer
}

.flip-item img {
    display: block;
    width: 100%
}

.flipster-coverflow .flip-items {
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
    position: relative;
    padding-top: 2%;
    padding-bottom: 5%
}

.flipster-coverflow .flip-item {
    display: block;
    -webkit-transition: all 175ms ease-in-out;
    -moz-transition: all 175ms ease-in-out;
    -o-transition: all 175ms ease-in-out;
    -ms-transition: all 175ms ease-in-out;
    transition: all 175ms ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
    position: absolute;
    width: 30%
}

.flipster-coverflow .flip-content {
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
    -webkit-box-reflect: below 0 -webkit-gradient(linear,left bottom,left top,color-stop(.05,rgba(255,255,255,.12)),color-stop(.2,transparent))
}

.flipster-coverflow .flip-past .flip-content {
    -webkit-transform: rotateY(55deg) scale(.75);
    -moz-transform: rotateY(55deg) scale(.75);
    -o-transform: rotateY(55deg) scale(.75);
    -ms-transform: rotateY(55deg) scale(.75);
    transform: rotateY(55deg) scale(.75)
}

.flipster-coverflow .flip-future .flip-content {
    -webkit-transform: rotateY(-55deg) scale(.75);
    -moz-transform: rotateY(-55deg) scale(.75);
    -o-transform: rotateY(-55deg) scale(.75);
    -ms-transform: rotateY(-55deg) scale(.75);
    transform: rotateY(-55deg) scale(.75)
}

.flipster-coverflow .flip-current .flip-content {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.flipster-coverflow .flip-hidden {
    visibility: hidden;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0
}

.flipster-carousel .flip-items {
    -webkit-perspective: 2000px;
    -moz-perspective: 2000px;
    perspective: 2000px;
    margin-top: 20px;
    height: 380px!important;
}

.flipster-carousel .flip-item {
    width: 220px;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: all 350ms ease-out;
    -moz-transition: all 350ms ease-out;
    -o-transition: all 350ms ease-out;
    -ms-transition: all 350ms ease-out;
    transition: all 350ms ease-out
}

.no-csstransforms .flipster-carousel .flip-item {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none
}

.flipster-carousel .flip-items img {
    width: 100%;
    height: 180px;
}
.flipster-carousel .flip-prev img {
    width: 100%;
}
.flipster-carousel .flip-next img {
    width: 100%;
}

.flipster-carousel .flip-past {
    -webkit-transform: translateX(-228%) translateZ(0) rotateY(0deg) scale(0.8, 0.8);
    -moz-transform: translateX(-228%) translateZ(0) rotateY(0deg) scale(0.8, 0.8);
    -o-transform: translateX(-228%) translateZ(0) rotateY(0deg) scale(0.8, 0.8);
    -ms-transform: translateX(-228%) translateZ(0) rotateY(0deg) scale(0.8, 0.8);
    transform: translateX(-228%) translateZ(0) rotateY(0deg) scale(0.8, 0.8);
}

.no-csstransforms3d .flipster-carousel .flip-past {
    -webkit-transform: translateX(-56%) scale(1);
    -moz-transform: translateX(-56%) scale(1);
    -o-transform: translateX(-56%) scale(1);
    -ms-transform: translateX(-56%) scale(1);
    transform: translateX(-56%) scale(1)
}

.no-csstransforms .flipster-carousel .flip-past {
    left: -20%;
    top: 40%;
    width: 50%;
    height: 50%
}

.flipster-carousel .flip-future {
    -webkit-transform: translateX(228%) translateZ(0) rotateY(-0deg) scale(0.8, 0.8);
    -moz-transform: translateX(228%) translateZ(0) rotateY(-0deg) scale(0.8, 0.8);
    -o-transform: translateX(228%) translateZ(0) rotateY(-0deg) scale(0.8, 0.8);
    -ms-transform: translateX(212%) translateZ(0) rotateY(-0deg) scale(0.8, 0.8);
    transform: translateX(228%) translateZ(0) rotateY(-0deg) scale(0.8, 0.8);
}

.no-csstransforms3d .flipster-carousel .flip-future {
    -webkit-transform: translateX(56%) scale(1);
    -moz-transform: translateX(56%) scale(1);
    -o-transform: translateX(56%) scale(1);
    -ms-transform: translateX(56%) scale(1);
    transform: translateX(56%) scale(1)
}

.no-csstransforms .flipster-carousel .flip-future {
    left: 88%;
    top: 40%;
    width: 50%;
    height: 50%
}

.flipster-carousel .flip-prev {
    -webkit-transform: translateX(-119%) translateZ(0) rotateY(0deg) scale(0.95, 0.9);
    -moz-transform: translateX(-119%) translateZ(0) rotateY(0deg) scale(0.95, 0.9);
    -o-transform: translateX(-119%) translateZ(0) rotateY(0deg) scale(0.95, 0.9);
    -ms-transform: translateX(-119%) translateZ(0) rotateY(0deg) scale(0.95, 0.9);
    transform: translateX(-119%) translateZ(0) rotateY(0deg) scale(0.95, 0.9 );
}
.flip-prev .flip-content {
    transform-origin: 0 0;
}



.no-csstransforms3d .flipster-carousel .flip-prev {
    -webkit-transform: translateX(-24%) scale(1);
    -moz-transform: translateX(-24%) scale(1);
    -o-transform: translateX(-24%) scale(1);
    -ms-transform: translateX(-24%) scale(1);
    transform: translateX(-24%) scale(1)
}

.no-csstransforms .flipster-carousel .flip-prev {
    left: -9%;
    top: 20%;
    width: 75%;
    height: 75%
}

.flipster-carousel .flip-next {
    -webkit-transform: translateX(119%) translateZ(0) rotateY(0deg) scale(0.95, 0.9);
    -moz-transform: translateX(119%) translateZ(0) rotateY(0deg) scale(0.95, 0.9);
    -o-transform: translateX(119%) translateZ(0) rotateY(0deg) scale(0.95, 0.9);
    -ms-transform: translateX(119%) translateZ(0) rotateY(0deg) scale(0.95, 0.9);
    transform: translateX(119%) translateZ(0) rotateY(0deg) scale(0.95, 0.9);
}

.no-csstransforms3d .flipster-carousel .flip-next {
    -webkit-transform: translateX(24%) scale(1);
    -moz-transform: translateX(24%) scale(1);
    -o-transform: translateX(24%) scale(1);
    -ms-transform: translateX(24%) scale(1);
    transform: translateX(24%) scale(1)
}

.no-csstransforms .flipster-carousel .flip-next {
    left: 39%;
    top: 20%;
    width: 75%;
    height: 75%
}

.flipster-carousel .flip-past,.flipster-carousel .flip-future {
    z-index: 1;
    -webkit-transition-delay: 87.5ms;
    -moz-transition-delay: 87.5ms;
    -o-transition-delay: 87.5ms;
    transition-delay: 87.5ms
}

.flipster-carousel .flip-prev,.flipster-carousel .flip-next {
    z-index: 2;
    -webkit-transition-delay: 58.333333333333336ms;
    -moz-transition-delay: 58.333333333333336ms;
    -o-transition-delay: 58.333333333333336ms;
    transition-delay: 58.333333333333336ms
}

.flipster-carousel .flip-current {
    z-index: 999;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition-delay: 58.333333333333336ms;
    -moz-transition-delay: 58.333333333333336ms;
    -o-transition-delay: 58.333333333333336ms;
    transition-delay: 58.333333333333336ms
}

.flipster-carousel .flip-hidden {
    visibility: hidden;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: rotateY(0deg) translateX(0) scale(1);
    -moz-transform: rotateY(0deg) translateX(0) scale(1);
    -o-transform: rotateY(0deg) translateX(0) scale(1);
    -ms-transform: rotateY(0deg) translateX(0) scale(1);
    transform: rotateY(0deg) translateX(0) scale(1);
    -webkit-transition-delay: 116.66666666666667ms;
    -moz-transition-delay: 116.66666666666667ms;
    -o-transition-delay: 116.66666666666667ms;
    transition-delay: 116.66666666666667ms
}

.no-transition {
    -webkit-transition-duration: 0ms!important;
    -moz-transition-duration: 0ms!important;
    -o-transition-duration: 0ms!important;
    transition-duration: 0ms!important
}
/*.flip-prev .flip-content {
    transform: scale(1, 1.1);
}*/

.clearfix{*zoom: 1}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0}
.clearfix:after{clear:both}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.flipster .flipster-nav{display:block;height:25px;margin:0;padding:5px 5px 0;text-align:justify;margin-bottom:52px;position:relative;list-style-type:none}
.flipster .flipster-nav:after{content:'';display:inline-block;width:100%}
.flipster .flipster-nav li{display:inline-block;font-size:15px;text-align:center;margin:0;padding:0;list-style-type:none}
.flipster .flipster-nav .flip-nav-category,.flipster .flipster-nav .no-category{width:25%}
.flipster .flipster-nav .flip-nav-category-link,.flipster .flipster-nav .flip-nav-item-link{display:block;-ms-transition:all 100ms ease;-webkit-transition:all 100ms ease;-moz-transition:all 100ms ease;-o-transition:all 100ms ease;transition:all 100ms ease}
.flipster .flipster-nav .flip-nav-category-link,.flipster .flipster-nav .no-category .flip-nav-item-link{height:0px;line-height:25px;color:#fff;font-size:.8em}
.fl.flipster .flipster-nav .flip-nav-category .flip-nav-items{display:none;position:absolute;top:27px;left:0;right:0;text-align:center;padding:0;height:0px}
.flipster .flipster-nav .flip-nav-category .flip-nav-items:after{content:'';display:inline-block;width:100%}
.flipster .flipster-nav .flip-nav-category .flip-nav-items .flip-nav-item-link{padding:5px 15px;font-family:Helvetica;text-transform:uppercase;font-size:16px}
.flipster .flipster-nav .flip-nav-category.flip-nav-current .flip-nav-items{display:block}
.flipster .flipto-prev,.flipster .flipto-next{position:absolute;top:50%;z-index:999;display:block;padding:10px;margin-top:25px;-ms-transition:background-color 300ms ease;-webkit-transition:background-color 300ms ease;-moz-transition:background-color 300ms ease;-o-transition:background-color 300ms ease;transition:background-color 300ms ease}
.flipster .flipto-prev{left:0}.flipster .flipto-next{right:0}

@media screen and (max-width: 1199px) {
    .flip-items {
        width: 270px!important;
    }
    .flipster-carousel .flip-item {
        width: 270px;
    }
}
@media screen and (max-width: 991px) {
    .flipster-carousel .flip-next {
        -webkit-transform: translateX(115%) translateZ(0) rotateY(0deg) scale(0.95, 0.9);
        -moz-transform: translateX(115%) translateZ(0) rotateY(0deg) scale(0.95, 0.9);
        -o-transform: translateX(115%) translateZ(0) rotateY(0deg) scale(0.95, 0.9);
        -ms-transform: translateX(115%) translateZ(0) rotateY(0deg) scale(0.95, 0.9);
        transform: translateX(115%) translateZ(0) rotateY(0deg) scale(0.95, 0.9);
    }
    .flipster-carousel .flip-prev {
        -webkit-transform: translateX(-115%) translateZ(0) rotateY(0deg) scale(0.95, 0.9);
        -moz-transform: translateX(-115%) translateZ(0) rotateY(0deg) scale(0.95, 0.9);
        -o-transform: translateX(-115%) translateZ(0) rotateY(0deg) scale(0.95, 0.9);
        -ms-transform: translateX(-115%) translateZ(0) rotateY(0deg) scale(0.95, 0.9);
        transform: translateX(-115%) translateZ(0) rotateY(0deg) scale(0.95, 0.9 );
    }
    .flip-items {
        width: 220px!important;
    }
    .flipster-carousel .flip-item {
        width: 220px;
    }
}
@media screen and (max-width: 767px) {
    .flipster {
        overflow-x: visible;
    }
    .flipster-carousel .flip-item {
        width: 280px;
    }
    .flip-items {
        width: 280px!important;
    }
}